@{
    ViewBag.Title = "联系我们";
}

@section header
{
    <!-- Header -->
    <div class="container header hidden-xs">
        <div class="row">
            <div class="col-md-1 col-sm-12 col-xs-12"></div>
            <div class="col-md-6 col-sm-8 col-xs-8">
                <a style="width:224px;" href="@Url.Action("Home","Portal")">
                    <img src="@Url.Content("~/Content/images/logo.png")" style="float:left;" alt="周末酒店" />
                </a>
                <div class="topsearch" id="topSearchDiv">
                    <input type="email" class="form-control" id="topSearchInput" placeholder="请输入酒店名称关键字">
                    <div class="searchbtn">
                        <a href="javascript:;" id="topSearch"><img src="@Url.Content("~/Content/images/icon-topsearch.png")" alt="" /></a>
                    </div>
                </div>
            </div>
           @* <div class="col-md-5 col-sm-5 col-xs-12">
                @Helpers.BreadCrumbs(Url, ViewBag.Title)
            </div>*@
            <div class="col-md-5 col-sm-4 col-xs-12 headright hidden-xs">
                @Helpers.DLLinks(Url)
            </div>
        </div>
    </div>
}

<!-- Add -->
<div class="container mainbody hidden-xs">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            @Helpers.BreadCrumbs(Url, ViewBag.Title)
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
<!-- HotelName -->
<div class="fullscreen">
    <div class="container mainbody">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

                <div class="row mbhead hidden">
                    <div class="col-xs-12 text-left">
                        <button type="button" class="btn btn-default btn-sm">返回</button>
                    </div>
                </div>

                <div class="row hidden-xs">
                    <div class="col-md-6 articlename">
                        联系我们
                    </div>
                </div>


                <!-- mobile header 开始 -->
                <div class="container visible-xs" style="margin-bottom:-1px;">

                    <div class="row toolbar2 ">
                        <div class="col-xs-3">
                            <button type="button" onclick="history.back()" class="btn btn-sm  btn-img01"><img src="@Url.Content("~/content/images/icon-back.png")" class="mobilepic" alt="" /></button>
                        </div>
                        <div class="col-xs-6 text-center listtitle">
                            联系我们
                        </div>
                        <div class="col-sm-2 col-xs-3 text-right">
                        </div>
                    </div>
                </div>
                <!--  mobile header 结束 -->

                <div class="row">
                    <!-- Hotel Left -->
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-body articledetail">


                                官方微信订阅号：周末酒店 （id：zmjiudian）<br />
                                官方微博账号：<a href="http://weibo.com/zmjiudian" target="_blank">周末酒店</a>
                                <br />
                                合作邮箱：<a href="mailto:partners@zmjiudian.com">partners@zmjiudian.com</a><br />
                                人事邮箱：<a href="mailto:hr@zmjiudian.com">hr@zmjiudian.com</a><br /><br />
                                用户反馈：<a href="mailto:feedback@zmjiudian.com">feedback@zmjiudian.com</a><br />
                                客服电话：4000-021-702 <br />
                                联系电话：021-52728385 <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                            </div>
                        </div>
                    </div>

                    <!-- Hotel Right -->
                    <div class="col-md-4 visible-md visible-lg zmrightpanel">
                        @Helpers.QRCodes(Url)
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>