@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";


    var isApp = ViewBag.IsApp;

    var isInWeixin = ViewBag.isInWeixin;
    int categoryId = ViewBag.CategoryId;
    int did = ViewBag.Did;
    string dName = ViewBag.DName;


    //控制产品专辑的分享配置
    var shareTitle = "发现更多优惠产品-周末酒店";
    var shareDesc = "";
    var shareImgUrl = "http://whfront.b0.upaiyun.com/app/img/zmjd-logo-x167.png";
    var shareLink = string.Format("http://www.zmjiudian.com/coupon/AlbumProductInfo?categoryId={0}&did={1}&dName={2}", categoryId, did, dName);

    //默认朋友圈分享=好友等分享
    var shareTitle_Timeline = shareTitle;
    var shareDesc_Timeline = shareDesc;

    var pageTitle = "玩乐";
    switch (categoryId)
    {
        case 14:
            {
                pageTitle = "美食";
                shareTitle = "美食专栏-周末酒店";
                shareDesc = "精选口碑好，品质好，性价比高的酒店餐饮美食限量抢购";
                shareImgUrl = "http://whphoto.b0.upaiyun.com/117MRjG0_small";
                break;
            }
        case 20:
            {
                pageTitle = "玩乐";
                shareTitle = "玩乐专栏-周末酒店";
                shareDesc = "挑选高品质亲子玩乐项目，优惠低价呈现";
                shareImgUrl = "http://whphoto.b0.upaiyun.com/117MRjG1_small";
                break;
            }
    }
    ViewBag.Title = pageTitle;

}


@section styles
{
    <link href="~/Content/css/coupon/albumproductinfo.css?v=@(Helpers.curAppVer())" rel="stylesheet" />
}

@*<div><a href="whotelapp://www.zmjiudian.com/gotopage?url=http%3a%2f%2fwww.zmjd100.com%2fcoupon%2fAlbumProductInfo%3fcategoryId%3d20">GO APP (Local) >>></a></div>*@
<div id="tabinfo" >

    <div class="filter-base">
        <div id="filter-section" class="filter-section" style="@(!isApp ? "padding-top:1.3em;" : "")">
            <div class="cityline">
                <div class="item city ">全部城市 </div><span class="zmjd-iconfont">&#xe653;</span>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>

    <div id="banner-section" class="banner-section">
        <div v-if="tabDetailList.AdData.AD.ADList&&tabDetailList.AdData.AD.ADList.length&&tabDetailList.AdData.AD.ADList.length==1">
            <div class="banner-img" v-for="ad in tabDetailList.AdData.AD.ADList" onclick="gourl('{{ad.ActionURL}}')">
                <img class="show-img" src="{{ad.ADURL}}" alt="" />
            </div>
        </div>
        <div v-else>
            <div v-cloak class="swiper-container home-hlist-panel" v-if="tabDetailList.AdData.AD.ADList&&tabDetailList.AdData.AD.ADList.length">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide" v-for="ad in tabDetailList.AdData.AD.ADList" onclick="gourl('{{ad.ActionURL}}')">
                        <div class="item">
                            <div class="h-img">
                                <img class="show-img" v-if="$index<3" src="{{ad.ADURL}}" alt="" />
                                <img class="show-img" v-else data-orisrc="{{ad.ADURL}}" src="~/Content/images/seat/img-viparea-item-3x2.png" alt="" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="catogrylist">
        <div v-cloak class="catogryitem" v-for="category in tabDetailList.categoryList" onclick="gourl('{{category.ActionUrl}}')">
            <div class="categoryimg">
                <img src="{{category.ICON}}" />
            </div>
            <span>{{category.Name}}</span>
        </div>
        <div class="clear"></div>
    </div>

    <div class="line"></div>
    <div class="albumproduct">
        <div class="albumtitle">
            {{tabDetailList.name}}
        </div>
        <div class="productlist">
            <div v-cloak v-for="skuEntity in tabDetailList.skuList" class="p-item {{$index%2==0?'':'p-item-r'}}" onclick="gourl('{{skuEntity.url}}')">
                <div v-if="$index>1" class="top-br"></div>
                <div class="p-img">
                    <img src="{{skuEntity.PicUrl.replace('theme', '350X350')}}" />
                </div>
                <div class="p-name">{{skuEntity.PageTitle}}</div>
                <div class="p-tag">{{skuEntity.Tags}}</div>

                <div v-if="!skuEntity.SKUVipPrice&&!skuEntity.Points">
                    <div class="p-price1">免费</div>
                    <div class="p-price2" v-if="skuEntity.SKUMarketPrice>0">市场价:¥{{skuEntity.SKUMarketPrice}}</div>
                </div>
                <div v-if="skuEntity.SKUVipPrice">
                    <div class="p-price1"><span class="zmjd-iconfont _vip">&#xe623;</span>¥{{skuEntity.SKUVipPrice}}</div>
                    <div class="p-price2">普通价:¥{{skuEntity.SKUPrice}}</div>
                </div>
                <div v-if="skuEntity.Points">
                    <div class="p-price1">{{skuEntity.Points}}积分</div>
                    <div class="p-price2" v-if="skuEntity.SKUMarketPrice>0">市场价:¥{{skuEntity.SKUMarketPrice}}</div>
                </div>

            </div>
            <div class="more-packages-foot" id="more-packages-foot-{{tabDetailList.id}}"></div>
            <div class="scrollpageloading more-hide" id="scrollpageloading-{{tabDetailList.id}}"><img src="http://whfront.b0.upaiyun.com/app/img/loading-changes.gif" alt="" /></div>
        </div>
    </div>
</div>

<div class="_selector-model" style="display:none;"></div>
<div class="_selector" style="display:none;" id="city-selector">
    <div class="_head">
        <div class="_tit">全部城市</div>
        <div class="zmjd-iconfont _close">&#xe673;</div>
        <div class="_clear">清空</div>
    </div>
    <div class="_list">
        <div v-for="item in cityData.DestinationList" class="_item {{item.Values===cityData.districtId?'_item-seled':''}}" data-did="{{item.Values}}" data-dname="{{item.Name}}">{{item.Name}}<div class="zmjd-iconfont _icon">&#xe660;</div></div>
    </div>
</div>
<input type="hidden" id="categoryId" value="@ViewBag.CategoryId" />
<input type="hidden" id="userid" value="@ViewBag.UserId" />
<input type="hidden" id="isApp" value="@(ViewBag.IsApp ? "1" : "0")" />
<input type="hidden" id="districtID" value="@(ViewBag.DId)" />
<input type="hidden" id="districtName" value="@(ViewBag.DName)" />


@section scripts{
    <script src="~/Content/js/framework/jquery.lazyload.min.js"></script>
    <script src="~/Content/js/framework/vue.min.js"></script>
    <script src="~/Content/js//framework/iscroll.js"></script>
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/VerifyInput.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/framework/zmjd.swiper.min.js"></script>
    <script src="~/Content/js/coupon/albumproductinfo.js?v=@(Helpers.curAppVer())"></script>

<script>
        try {
            onAppShareCall = function () {
                var title = "@(shareTitle_Timeline)";
                var Content = "@(shareDesc)";
                var photoUrl = "@(shareImgUrl)";
                var shareLink = "@(shareLink)";
                try { whotel.appShareData(title, Content, photoUrl, shareLink); } catch (e) { }
                var returnStr = '{"title":"{0}","Content":"{1}","photoUrl":"{2}","shareLink":"{3}"}';
                return returnStr.format(title, Content, photoUrl, shareLink);
            }
            onAppShareCall();
        }
        catch (e) { }
</script>

@if (isInWeixin)
{
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js?v=@(Helpers.curAppVer())" type="text/javascript"></script>
    <script>

    GetWeixinApiConfig();//注册

    wx.ready(function () {

        wx.onMenuShareTimeline({
            title: '@(shareTitle_Timeline)',
            desc: '@(shareDesc_Timeline)',
            link: '@(shareLink)',
            imgUrl: '@(shareImgUrl)',
            success: function (res) {
            },
            cancel: function (res) {
            }
        });

        wx.onMenuShareAppMessage({
            title: '@(shareTitle)',
            desc: '@(shareDesc)',
            link: '@(shareLink)',
            imgUrl: '@(shareImgUrl)',
            success: function (res) {
            },
            cancel: function (res) {
            }
        });

        wx.onMenuShareQQ({
            title: '@(shareTitle)',
            desc: '@(shareDesc)',
            link: '@(shareLink)',
            imgUrl: '@(shareImgUrl)',
            success: function (res) {
            },
            cancel: function (res) {
            }
        });

        wx.onMenuShareQZone({
            title: '@(shareTitle)',
            desc: '@(shareDesc)',
            link: '@(shareLink)',
            imgUrl: '@(shareImgUrl)',
            success: function (res) {
            },
            cancel: function (res) {
            }
        });

    });

    function GetWeixinApiConfig() {

        var url = location.href.split("#")[0];
        $.ajax({
            url: '/Coupon/GetWeixinConfigInfo',
            type: 'POST',
            data: { url: url },
            dataType: 'json',
            //async: false,
            error: function () {
                console.log("网络服务错误");
            },
            success: function (result) {
                if (typeof (result.Success) != undefined && result.Success == 1) {
                    return false;
                }
                else {
                    //得到微信config的值
                    var array = [
                        'checkJsApi',
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage',
                        'onMenuShareQQ',
                        'onMenuShareQZone',
                        'hideOptionMenu'
                    ];
                    if (result.jsApiList) {
                        var jsArray = result.jsApiList.split(',');
                        for (var key in jsArray) {
                            array.push("" + jsArray[key]);
                        }
                    }

                    wx.config({
                        debug: false,
                        appId: result.appId,
                        timestamp: "" + result.timestamp,
                        nonceStr: result.nonceStr,
                        signature: result.signature,
                        jsApiList: array
                    });
                }
            }
        });
    }

    </script>
}
}
