@using WHotelSite
@using WHotelSite.App_Code
@using WHotelSite.Params
@using ProductService.Contracts.Entity
@using HJDAPI.APIProxy;
@{
    Layout = null;

    var requestCID = ViewBag.RequestCID;
    var skuid = ViewBag.SKUID;
    var groupid = ViewBag.GROUPID;
    var cid = ViewBag.CID;
    var isApp = ViewBag.IsApp;

    //当前环境 (1wap/2web/3app/4weixin)
    ProductService.Contracts.Entity.ProductServiceEnums.SceneType stype = ViewBag.SType;

    var AppType = ViewBag.AppType;
    var AppVerForIOS = ViewBag.AppVerForIOS;
    var AppVerForAndroid = ViewBag.AppVerForAndroid;
    var IsLatestVerApp = ViewBag.IsLatestVerApp;

    //用户信息（包含会员身份）
    UserInfoResult userInfo = ViewBag.UserInfo;
    var userid = ViewBag.UserId;

    //是否VIP
    var isVip = ViewBag.IsVip;

    //是否微信环境
    var isInWeixin = ViewBag.isInWeixin;

    //微信用户信息
    WHotelSite.Models.WeixinUserInfo weixinUserInfo = ViewBag.WeixinUserInfo;

    //微信授权code
    var code = ViewBag.Code;

    //是否积攒拼团类型
    var isLikeGroup = ViewBag.IsLikeGroup;

    GroupSKUCouponActivityModel couponSkuInfo = ViewBag.CouponSkuInfo;
    HJD.CouponService.Contracts.Entity.CouponActivityEntity activity = couponSkuInfo.activity;

    //当前用户的度假伙伴身份
    HJD.HotelManagementCenter.Domain.RetailerInvateEntity partnerResult = ViewBag.PartnerResult;
    HJD.HotelManagementCenter.Domain.RetailerInvateState partnerState = (HJD.HotelManagementCenter.Domain.RetailerInvateState)partnerResult.State;

    //当前要展示的分销CID（为0表示没有分销身份）
    var pcid = ViewBag.PCID;

    SKUEntity singleBuySKU = ViewBag.SingleBuySKU;
    SKUEntity groupBuySKU = ViewBag.GroupBuySKU;

    //当前产品是否为分销产品
    var isRetailerProduct = groupBuySKU.IsDistributable;  // ViewBag.IsRetailerProduct;

    //产品店铺信息
    HJD.HotelManagementCenter.Domain.RetailerShopEntity productShopInfo = ViewBag.ProductShopInfo;

    //是否显示店铺信息
    var showShop = false;

    //头bar
    var retailerLinkUrl = string.Format("http://partner.zmjiudian.com/Channel/ProductDetail?cid={0}&pid=", pcid);    //string.Format("http://192.168.1.188:8082/Channel/ProductDetail?cid={0}&pid=", pcid);//
    var showRetailerLink = false;
    var headBarUrl = "/Account/WxMenuTransfer?menu=7";
    var headLogoUrl = "http://whfront.b0.upaiyun.com/app/img/home/zmjd-logo-256x256.png";
    var headLogoName = "周末酒店";
    if (isApp)
    {
        headBarUrl = "whotelapp://www.zmjiudian.com";
    }
    else
    {
        if (productShopInfo != null && !string.IsNullOrEmpty(productShopInfo.ShopName) && isRetailerProduct)
        {
            headBarUrl = string.Format("/Channel/ShopDetail?cid={0}", requestCID);
            headLogoUrl = !string.IsNullOrEmpty(productShopInfo.AvatarUrl) ? productShopInfo.AvatarUrl.Replace("_jupiter", "_290x290") : "";
            headLogoName = productShopInfo.ShopName;
        }

        //是否显示分销入口
        if (isRetailerProduct && pcid > 0)
        {
            showRetailerLink = true;
        }
    }

    //产品图
    var productImgFirstSrc = "http://whfront.b0.upaiyun.com/app/img/pic-null-3x2.png";
    if (activity.PicList != null && activity.PicList.Count > 0)
    {
        productImgFirstSrc = activity.PicList[0].Replace("p1.test.sl.corp", "p1.zmjiudian.com");
    }

    //价格
    var sellPrice = isVip ? couponSkuInfo.SKUInfo.SKU.VIPPrice : couponSkuInfo.SKUInfo.SKU.Price;

    ////查询券的状态
    //BuyCouponCheckNumResult buyResult = ViewBag.BuyResult;

    ////开售日
    //var selldate = activity.EffectiveTime;

    ////抢购结束日
    //var closedate = activity.SaleEndDate;

    //购买按钮的状态
    var canShop = true;
    var noCanTxt = "立即购买";

    ////最小购买数量
    //var minBuyNum = activity.MinBuyNum;

    ////价格label
    //var priceLabel = activity.PriceLabel;

    //当前时间（服务器时间）
    var now = DateTime.Now;

    //房券URL
    var walletRoomCouponLink = ViewBag.WalletRoomCouponLink;

    //消费券URL
    var walletProductCouponLink = ViewBag.WalletProductCouponLink;

    //6.2的全部订单列表页面（包含了酒店、消费券、团购等所有品类的订单）
    var appMyOrderUrlForApp = "http://www.zmjiudian.com/order/allorders?userid={userid}&specifyuid=1&realuserid=1&_newpage=1";
    var appMyOrderUrlForWeb = "/Account/WxMenuTransfer?menu=10";

    //页面标题
    var pageTitle = !string.IsNullOrEmpty(activity.PageTitle) ? activity.PageTitle : "周末酒店";
    pageTitle = "手拉手拼团";
    if (isLikeGroup)
    {
        pageTitle = "本期特惠";
    }

    //原生分享配置
    var s_title = string.Format("仅￥{0}拼{1}，陪我一起加入吧。", groupBuySKU.VIPPrice, activity.PageTitle);
    if (couponSkuInfo.GroupPurchase != null && couponSkuInfo.IsJoinGroup)
    {
        s_title = string.Format("我￥{0}拼了{1}，快加入我吧。", groupBuySKU.VIPPrice, activity.PageTitle);
    }

    var s_poto_url = productImgFirstSrc.Replace("_jupiter", "_290x290s").Replace("_theme", "_290x290s").Replace("_appdetail1", "_290x290s");
    var s_url = string.Format("http://www.zmjiudian.com/coupon/group/product/{0}/{1}?cid={2}", groupBuySKU.ID, groupid, cid);
    var s_content = "这个拼团超值！现在约半价就到手，快跟我一起拼团吧。";

    //积攒拼团
    var likeGroupProductUrl = string.Format("http://www.zmjiudian.com/coupon/group/tree/{0}/{1}", groupBuySKU.ID, groupid);
    if (isLikeGroup)
    {
        s_url = string.Format("http://www.zmjiudian.com/coupon/group/tree/{0}/{1}?cid={2}", groupBuySKU.ID, groupid, cid);
        s_title = !string.IsNullOrEmpty(activity.PageTitle) ? "帮我助力！" + activity.PageTitle : "嗨！帮我助力哦，就差你了！";
        s_content = "快戳这里，帮我助力＞＞";
    }

    //原生分享链接
    var _goShareLink = new Access().GenShortUrl(-2, s_url);
    var _shareLink = "whfriend://comment?title={0}&photoUrl={1}&shareLink={2}&nextUrl={3}&content={4}&shareType={5}";
    _shareLink = string.Format(_shareLink, HttpUtility.UrlEncode(s_title), HttpUtility.UrlEncode(s_poto_url), _goShareLink, "", HttpUtility.UrlEncode(s_content), "{0}");
    var appShareLink = string.Format(_shareLink, 0);

    //页面跟踪代码
    var _sourcekey = ViewBag.SourceKey;
    if (!_sourcekey.Contains("couponsales"))
    {
        ViewBag.LoadCNZZ = false;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@(pageTitle)</title>
    <meta name="keywords" content="@ViewBag.PageKeywords" />
    <meta name="description" content="@ViewBag.PageDescription" />
    <meta name="copyright" content="2013, zmjiudian.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no">

    <link href="~/Content/css/framework/zmjd.modal.min.css" rel="stylesheet" />
    <link href="~/Content/css/framework/zmjd.swiper.min.css" rel="stylesheet" />
    <link href="/Content/css/framework/util.css?v=@(Helpers.curAppVer())" rel="stylesheet" />
    <link href="~/Content/css/login.css?v=@(Helpers.curAppVer())" rel="stylesheet" />
    <link href="/content/css/coupon/couponshopforgroupproduct.css?v=@(Helpers.curAppVer())" rel="stylesheet">
</head>
<body>
    <style>
        [v-cloak] {
            display: none;
        }

        .login-section {
            font-size: 0.8em;
        }
    </style>
    <div id="product-detail">
        @if (!isApp)
        {
            <div class="page-head-bar">
                <div class="_logo-section">
                    <div class="_logo"><img src="@(headLogoUrl)" alt="" /></div>
                    <div class="_name">@(headLogoName)</div>
                    <div style="clear:both;"></div>
                </div>
                <div class="_home-section"><span class="zmjd-iconfont _icon" onclick="gourl('@(headBarUrl)')">&#xe67b;</span></div>
                <div style="clear:both;"></div>
            </div>
        }
        @*<div style="margin:0 0 0 0;"><a href="whotelapp://www.zmjiudian.com/gotopage?url=http%3a%2f%2fwww.zmjd100.com%2fcoupon%2fgroup%2fproduct%2f7956%2f0%3fv%3d1">GO APP (Local) >>></a></div>*@
        <div class="main">
            <div class="photo product-photo" v-if="productDetail.activity.PicList&&productDetail.activity.PicList.length>0" style="display:none;">
                <div v-for="_loadNum in productDetail.loadNumList">
                    <div id="product-img-list-{{_loadNum}}" class="swiper-container product-img-list" v-if="$index==productDetail.loadNum&&productDetail.activity.PicList&&productDetail.activity.PicList.length>1">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide product-img-item" v-for="imgsrc in productDetail.activity.PicList">
                                <img class="product-img" data-num="{{$index}}" :src='imgsrc.replace("p1.test.sl.corp", "p1.zmjiudian.com").replace("_jupiter", "_640x426").replace("_theme", "_640x426").replace("_appdetail1", "_640x426")' data-showsrc='{{imgsrc.replace("_jupiter", "_640x426").replace("_theme", "_640x426").replace("_appdetail1", "_640x426")}}' src1="{{productDetail.productDefImg}}" alt="" />
                            </li>
                        </ul>
                    </div>
                    <div class="pagination2 pagination-{{_loadNum}}" v-if="$index==productDetail.loadNum&&productDetail.activity.PicList&&productDetail.activity.PicList.length>1"></div>
                </div>
                <img class="product-single-img" v-if="productDetail.activity.PicList&&productDetail.activity.PicList.length==1" :src='productDetail.activity.PicList[0].replace("p1.test.sl.corp", "p1.zmjiudian.com").replace("_jupiter", "_640x426").replace("_theme", "_640x426").replace("_appdetail1", "_640x426")' alt="" />
                <div v-cloak class="group-info-banner" v-if="!productDetail.GROUPID||(productDetail.BuyStatus.ActivityState==1&&productDetail.GroupPurchase&&(productDetail.GroupPurchase.State==2||productDetail.GroupPurchase.isOver))">
                    @if (isLikeGroup)
                    {
                        <span class="tag-txt"><b>{{productDetail.activity.GroupCount-1}}</b>人助力，享超值价</span>
                    }
                    else
                    {
                        <span class="tag-txt">{{productDetail.activity.GroupDay}}小时内满<b>{{productDetail.activity.GroupCount}}</b>人，享超值拼团价</span>
                    }
                    <div class="active-time">
                        <div class="tit">{{productDetail.activity.sTit}}</div>
                        <div class="time activity-timer"
                             data-year1="{{productDetail.activity.y1}}"
                             data-month1="{{productDetail.activity.mo1}}"
                             data-day1="{{productDetail.activity.d1}}"
                             data-hour1="{{productDetail.activity.h1}}"
                             data-minute1="{{productDetail.activity.mi1}}"
                             data-second1="{{productDetail.activity.s1}}"
                             data-year2="{{productDetail.activity.y2}}"
                             data-month2="{{productDetail.activity.mo2}}"
                             data-day2="{{productDetail.activity.d2}}"
                             data-hour2="{{productDetail.activity.h2}}"
                             data-minute2="{{productDetail.activity.mi2}}"
                             data-second2="{{productDetail.activity.s2}}"><span class="v">{{productDetail.activity.sH}}</span>:<span class="v">{{productDetail.activity.sM}}</span>:<span class="v">{{productDetail.activity.sS}}</span></div>
                    </div>
                </div>
            </div>
            <div class="photo def-photo">
                <img src="http://whfront.b0.upaiyun.com/app/img/pic-def-3x2.png" alt="" />
                <div v-cloak class="group-info-banner" v-if="!productDetail.GROUPID||(productDetail.BuyStatus.ActivityState==1&&productDetail.GroupPurchase&&(productDetail.GroupPurchase.State==2||productDetail.GroupPurchase.isOver))">
                    @if (isLikeGroup)
                    {
                        <span class="tag-txt"><b>{{productDetail.activity.GroupCount-1}}</b>人助力，享超值价</span>
                    }
                    else
                    {
                        <span class="tag-txt">{{productDetail.activity.GroupDay}}小时内满<b>{{productDetail.activity.GroupCount}}</b>人，享超值拼团价</span>
                    }
                    <div class="active-time">
                        <div class="tit">{{productDetail.activity.sTit}}</div>
                        <div class="time activity-timer"
                             data-year1="{{productDetail.activity.y1}}"
                             data-month1="{{productDetail.activity.mo1}}"
                             data-day1="{{productDetail.activity.d1}}"
                             data-hour1="{{productDetail.activity.h1}}"
                             data-minute1="{{productDetail.activity.mi1}}"
                             data-second1="{{productDetail.activity.s1}}"
                             data-year2="{{productDetail.activity.y2}}"
                             data-month2="{{productDetail.activity.mo2}}"
                             data-day2="{{productDetail.activity.d2}}"
                             data-hour2="{{productDetail.activity.h2}}"
                             data-minute2="{{productDetail.activity.mi2}}"
                             data-second2="{{productDetail.activity.s2}}"><span class="v">{{productDetail.activity.sH}}</span>:<span class="v">{{productDetail.activity.sM}}</span>:<span class="v">{{productDetail.activity.sS}}</span></div>
                    </div>
                </div>
            </div>
            <div v-cloak class="activity">
                <div class="tit">{{productDetail.activity.PageTitle}}</div>
                <div class="brief" v-if="productDetail.activity.Tags">{{productDetail.activity.Tags}}</div>
                <div class="rules" v-if="productDetail.activity.ReturnPolicy==2||(productDetail.SKUInfo.SKU.CommTagsList&&productDetail.SKUInfo.SKU.CommTagsList.length)">
                    <a href="javascript:;" class="anytime-tag" v-if="productDetail.activity.ReturnPolicy==2"><span class="zmjd-iconfont">&#xe694;</span>随时退</a>
                    <a href="javascript:;" class="anytime-tag" v-for="_tag in productDetail.SKUInfo.SKU.CommTagsList"><span class="zmjd-iconfont">&#xe694;</span>{{_tag.tagName}}</a>
                </div>
                <div class="sml-line"></div>
                <div id="price-detail" class="detail">

                    <div class="price-line" v-if="productDetail.IsVip">
                        @if (isLikeGroup)
                        {
                            <span class="zmjd-iconfont lab-icon">&#xe679;</span>
                        }
                        else
                        {
                            <span class="zmjd-iconfont lab-icon">&#xe675;</span>
                        }
                        <span class="p-un">￥</span><span class="p-val">{{productDetail.GroupSKU.Price}}</span><span class="p-other-price">单买价<span>￥</span>{{productDetail.SingleSKU.VIPPrice}}</span>
                        <div class="shop-info">已售{{productDetail.activity.SellNum}}份</div>
                    </div>
                    <div class="price-line" v-else>
                        @if (isLikeGroup)
                        {
                            <span class="zmjd-iconfont lab-icon">&#xe679;</span>
                        }
                        else
                        {
                            <span class="zmjd-iconfont lab-icon">&#xe675;</span>
                        }
                        <span class="p-un">￥</span><span class="p-val">{{productDetail.GroupSKU.Price}}</span><span class="p-other-price">单买价<span>￥</span>{{productDetail.SingleSKU.Price}}</span>
                        <div class="shop-info">已售{{productDetail.activity.SellNum}}份</div>
                    </div>
                    <div v-cloak class="retailer-share-section clearfloat" v-if="!productDetail.IsApp&&productDetail.PCID&&productDetail.SKUInfo.SKU.IsDistributable">
                        <div class="info">
                            <span>佣金：¥<span class="val">{{productDetail.SKUInfo.SKU.ManualCommission>=0?productDetail.SKUInfo.SKU.ManualCommission:productDetail.SKUInfo.SKU.AutoCommission}}</span></span>
                            <span class="teaminfo">团队佣金<span class="h">{{productDetail.SKUInfo.SKU.ManualTeamCommission>=0?productDetail.SKUInfo.SKU.ManualTeamCommission:'支付价1%'}}</span></span>
                        </div>
                        <div class="share-tag" onclick="gourl('@(retailerLinkUrl){{productDetail.SKUInfo.SKU.ID}}')"><img src="http://whfront.b0.upaiyun.com/app/img/coupon/product/share-poster-tag.png" alt="" /></div>
                    </div>
                    <div class="buy-vip" v-if="productDetail.SKUInfo.SKU.NeedVIPGuide&&!productDetail.IsVip">
                        <div class="price">付199元年费可 <a class="link2" onclick="goBuyVip()" href="javascript:;">成为VIP>></a></div>
                    </div>

                </div>
            </div>

            @if (isLikeGroup)
            {
                <div class="steps buy-rules">
                    <div class="top"></div>
                    <div class="info"><img src="http://whfront.b0.upaiyun.com/app/img/coupon/groupproductfortree/group-step-like.png" alt="" /></div>
                    <div class="see">查看活动说明</div>
                </div>
            }
            else
            {
                <div class="steps" onclick="gourl('http://www.zmjiudian.com/active/activepage?pageid=105')">
                    <!---rules-->
                    <div class="top"></div>
                    <div class="info"><img src="http://whfront.b0.upaiyun.com/app/img/coupon/groupproduct/group-step1.png?v=2017092501" alt="" /></div>
                    <div class="see">查看活动说明</div>
                </div>
            }

            <div v-cloak class="group-section" v-if="productDetail.GroupPurchase&&productDetail.GroupPurchase.State!=3&&productDetail.GROUPID">

                @if (isLikeGroup)
                {
                    <div class="status-over" v-if="(productDetail.GroupPurchase.isOver&&productDetail.GroupPurchase.State!=1)||productDetail.GroupPurchase.State==2">抱歉，助力失败</div>
                    <div class="status-time group-timer"
                         data-year1="{{productDetail.GroupPurchase.y1}}"
                         data-month1="{{productDetail.GroupPurchase.mo1}}"
                         data-day1="{{productDetail.GroupPurchase.d1}}"
                         data-hour1="{{productDetail.GroupPurchase.h1}}"
                         data-minute1="{{productDetail.GroupPurchase.mi1}}"
                         data-second1="{{productDetail.GroupPurchase.s1}}"
                         data-year2="{{productDetail.GroupPurchase.y2}}"
                         data-month2="{{productDetail.GroupPurchase.mo2}}"
                         data-day2="{{productDetail.GroupPurchase.d2}}"
                         data-hour2="{{productDetail.GroupPurchase.h2}}"
                         data-minute2="{{productDetail.GroupPurchase.mi2}}"
                         data-second2="{{productDetail.GroupPurchase.s2}}" v-if="!productDetail.GroupPurchase.isOver&&(productDetail.GroupPurchase.State==0||productDetail.GroupPurchase.State==1)">助力倒计时：<span class="val">{{productDetail.GroupPurchase.sH}}:{{productDetail.GroupPurchase.sM}}:{{productDetail.GroupPurchase.sS}}</span></div>
                    <div class="status" v-if="productDetail.IsJoinGroup&&productDetail.GroupPurchase.isOver&&productDetail.GroupPurchase.State==1">恭喜你，助力已完成！</div>
                    <div class="status" v-if="!productDetail.IsJoinGroup&&productDetail.GroupPurchase.isOver&&productDetail.GroupPurchase.State==1">助力已完成！</div>
                    <div class="live-pnum">共有<span class="h">{{productDetail.GroupPurchase.GroupPeopleCount-1}}</span><span class="h2">人</span>助力</div>
                    <div class="live-remark" v-if="productDetail.GroupPurchase.GroupShortageCount>0">还差{{productDetail.GroupPurchase.GroupShortageCount}}人助力成功</div>
                    <div class="live-remark" v-if="!productDetail.GroupPurchase.isOver&&productDetail.GroupPurchase.State==1">助力已成功</div>
                }
                else
                {
                    <div class="status-over" v-if="(productDetail.GroupPurchase.isOver&&productDetail.GroupPurchase.State!=1)||productDetail.GroupPurchase.State==2">抱歉，拼团失败</div>
                    <div class="status-time group-timer"
                         data-year1="{{productDetail.GroupPurchase.y1}}"
                         data-month1="{{productDetail.GroupPurchase.mo1}}"
                         data-day1="{{productDetail.GroupPurchase.d1}}"
                         data-hour1="{{productDetail.GroupPurchase.h1}}"
                         data-minute1="{{productDetail.GroupPurchase.mi1}}"
                         data-second1="{{productDetail.GroupPurchase.s1}}"
                         data-year2="{{productDetail.GroupPurchase.y2}}"
                         data-month2="{{productDetail.GroupPurchase.mo2}}"
                         data-day2="{{productDetail.GroupPurchase.d2}}"
                         data-hour2="{{productDetail.GroupPurchase.h2}}"
                         data-minute2="{{productDetail.GroupPurchase.mi2}}"
                         data-second2="{{productDetail.GroupPurchase.s2}}" v-if="!productDetail.GroupPurchase.isOver&&(productDetail.GroupPurchase.State==0||productDetail.GroupPurchase.State==1)">拼团倒计时：<span class="val">{{productDetail.GroupPurchase.sH}}:{{productDetail.GroupPurchase.sM}}:{{productDetail.GroupPurchase.sS}}</span></div>
                    <div class="status" v-if="productDetail.IsJoinGroup&&productDetail.GroupPurchase.isOver&&productDetail.GroupPurchase.State==1">恭喜你，拼团成功</div>
                    <div class="status" v-if="!productDetail.IsJoinGroup&&productDetail.GroupPurchase.isOver&&productDetail.GroupPurchase.State==1">拼团成功</div>
                    <div class="live-tit"><img src="http://whfront.b0.upaiyun.com/app/img/coupon/groupproduct/group-live-tit.png" alt="" /></div>
                    <div class="live-pnum">目前有<span class="h">{{productDetail.GroupPurchase.GroupPeopleCount}}</span><span class="h2">人</span>参团</div>
                    <div class="live-remark" v-if="productDetail.GroupPurchase.GroupShortageCount>0">还差{{productDetail.GroupPurchase.GroupShortageCount}}人拼团成功</div>
                    <div class="live-remark" v-if="!productDetail.GroupPurchase.isOver&&productDetail.GroupPurchase.State==1">拼团已成功，可继续参团</div>
                    <div class="live-plist" v-if="productDetail.GroupPurchase.GroupPeople&&productDetail.GroupPurchase.GroupPeople.length>0">
                        <div class="item {{productDetail.GroupPurchase.GroupPeople.length==$index+1?'item-nobor':''}}" v-for="pitem in productDetail.GroupPurchase.GroupPeople" v-if="productDetail.showMoreSku||$index<=3">
                            <div class="l">
                                <img :src="pitem.AvatarUrl.replace('_jupiter','_120x120')" alt="" /><span class="nickname">{{pitem.NickName}}</span><span class="zmjd-iconfont icon" v-if="pitem.IsSponsor">&#xe651;</span>
                            </div>
                            <div class="r">{{pitem.JoinTime}}</div>
                            <div style="clear:both;"></div>
                        </div>
                        <div v-cloak class="show-more" v-if="productDetail.showMoreBtn">查看更多<span class="zmjd-iconfont _icon">&#xe650;</span></div>
                    </div>
                }
            </div>

        </div>

        <div style="min-height:45px;">
            <div class="section-tab clearfloat">
                <div class="tab-item tab-item-detail tab-item-sel" data-openinfo="tab-info-detail" data-sel="1">
                    <div class="tab-item-txt">费用包含</div>
                    <div class="tab-item-line"></div>
                </div>
                <div class="tab-item tab-item-rule" data-openinfo="tab-info-rule" data-sel="0">
                    <div class="tab-item-txt">注意事项</div>
                    <div class="tab-item-line"></div>
                </div>
            </div>
        </div>

        <div class="main tab-info tab-info-detail">
            <div v-cloak class="package" v-if="productDetail.activity.PackageInfoList&&productDetail.activity.PackageInfoList.length">
                <div class="tit-l">套餐内容：</div>
                <div class="info">
                    <div class="packageList">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr v-for="pitem in productDetail.activity.PackageInfoList" track-by="$index"><td class="td-num" valign="top">{{pitem.indexOf('#')==0||!pitem?'':'&bull;'}}</td><td class="td-info" valign="top">{{pitem.indexOf('#')==0?pitem.replace('#',''):pitem}}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div v-cloak class="tuijian" v-if="productDetail.activity.Description">
                <div class="tit-l">推荐理由：</div>
                <div class="info">{{{productDetail.activity.Description}}}</div>
                @*<div class="link" v-if="productDetail.activity.MoreDetailUrl"><a href='{{productDetail.activity.MoreDetailUrl.replace("mp.weixin.qq.com/s?", "mp.weixin.qq.com/s?_newpage=1&")}}'>查看图文详情>></a></div>*@
            </div>

            <div v-cloak class="tuwen" v-if="productDetail.activity.MoreDetailUrl">
                <div class="tit-l">图文详情：</div>
                <div class="body" id="hotel-source-body">
                    <img class="loading_img" src="http://whfront.b0.upaiyun.com/app/img/loading-changes.gif" alt="" />
                </div>
                <div class="source-more-btn" style="display:none;">
                    <div class="mask"></div>
                    <div class="btn">查看更多<span class="zmjd-iconfont _icon">&#xe65c;</span></div>
                </div>
            </div>

        </div>

        <div class="main tab-info tab-info-rule zmjd-hide">
            <div v-cloak class="shopread" v-if="productDetail.activity.NoticeList&&productDetail.activity.NoticeList.length">
                <div class="info" style="display:block;">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr v-for="notice in productDetail.activity.NoticeList" track-by="$index"><td class="td-num" valign="top">{{notice.indexOf('#')==0||notice.indexOf('【')==0||!notice?'':'&bull;'}}</td><td class="td-info" valign="top">{{{notice.indexOf('#')==0?notice.replace('#',''):notice}}}</td></tr>
                    </table>
                </div>
            </div>
            <div v-cloak class="use-info" v-if="productDetail.activity.UseDecriptionList&&productDetail.activity.UseDecriptionList.length">
                <div class="tit-l">使用说明：</div>
                <div class="info" style="display:block;">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr v-for="notice in productDetail.activity.UseDecriptionList" track-by="$index"><td class="td-num" valign="top">{{$index+1}}.</td><td class="td-info" valign="top">{{notice}}</td></tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="main">
            <div v-cloak class="other-info" v-if="productDetail.activity.DicProperties">
                @*<div class="item" v-if="productDetail.activity.telObj" v-for="item in productDetail.activity.telObj">{{item.lab}}：<a href="tel:{{item.tel}}" class="tel">{{item.tel}}</a> {{item.telex}}</div>*@
                <div v-for="item in productDetail.activity.otherObjList">
                    <div class="item {{$index==0?'item-nobr':''}}" v-if="item.istel">{{item.lab}}：<a href="tel:{{item.tel}}" class="tel">{{item.tel}}</a> {{item.telex}}</div>
                    <div class="item {{$index==0?'item-nobr':''}}" v-else>{{item.lab}}：{{item.val}}</div>
                </div>
            </div>
            <div v-cloak class="hotel open-hotel" v-if="productDetail.activity.Type==200&&productDetail.activity.HotelID">
                <div class="tit">查看酒店详情</div>
            </div>
        </div>

        @*<div style="margin:2em 0 0 0;"><a href="whotelapp://www.zmjiudian.com/gotopage?url=http%3a%2f%2f192.168.1.22%3a8081%2fcoupon%2fgroup%2fproduct%2f217%2f18%3fuserid%3d4511962">GO APP (Local) >>></a></div>*@

        @*<div style="margin:2em 0 0 0;"><a href="whotelapp://www.zmjiudian.com/gotopage?url=http%3a%2f%2f192.168.1.188%3a8081%2fcoupon%2fgroup%2fproduct%2f14755%2f0%3fcid%3d0%26userid%3d4514792%26_newtitle%3d1%26_dorpdown%3d1">GO APP (Local) >>></a></div>
        <div id="test" style="width:auto;background:#fff;border:1px solid #e0e0e0;position:fixed;top:300px;left:0;"></div>*@

        <div style="margin:0 0 4em 0;"></div>
        <div v-cloak class="sub">
            <div class="ctrl">
                <!-- 有GroupId -->
                <div v-if="productDetail.GROUPID">
                    <!-- 大团结束 -->
                    <div v-if="productDetail.BuyStatus.ActivityState==0||productDetail.BuyStatus.ActivityState==2">
                        <!-- 小团结束 -->
                        <div v-if="productDetail.GroupPurchase.State==2||productDetail.GroupPurchase.isOver">
                            <div class="cant-buy">拼团结束</div>
                        </div>
                        <!-- 小团成功或进行中 -->
                        <div v-else>

                            <!-- 是参与者 -->
                            <div v-if="productDetail.IsJoinGroup">
                                <div class="share-btn"><span class="zmjd-iconfont _icon">&#xe62c;</span>邀请好友</div>
                            </div>
                            <!-- 不是参与者 -->
                            <div v-else>
                                <div class="join-btn open-buy">￥{{productDetail.IsVip?productDetail.GroupSKU.VIPPrice:productDetail.GroupSKU.Price}}&nbsp;&nbsp;参与拼团</div>
                            </div>

                        </div>
                    </div>
                    <!-- 大团未开始 -->
                    <div v-if="productDetail.BuyStatus.ActivityState==3">
                        <div class="cant-buy">尚未开始</div>
                    </div>
                    <!-- 大团进行中 -->
                    <div v-if="productDetail.BuyStatus.ActivityState==1">

                        <!-- 小团失败或者小团结束 -->
                        <div v-if="productDetail.GroupPurchase.State==2||productDetail.GroupPurchase.State==3||productDetail.GroupPurchase.isOver">
                            <div class="l">
                                <div v-if="productDetail.IsVip">
                                    <div class="single-buy">￥{{productDetail.SingleSKU.VIPPrice}}&nbsp;&nbsp;直接购买</div>
                                </div>
                                <div v-else>
                                    <div class="single-buy">￥{{productDetail.SingleSKU.Price}}&nbsp;&nbsp;直接购买</div>
                                </div>
                            </div>
                            <div class="r">
                                <div class="open-buy">￥{{productDetail.IsVip?productDetail.GroupSKU.VIPPrice:productDetail.GroupSKU.Price}}&nbsp;&nbsp;@(isLikeGroup ? "发起助力" : "发起拼团")</div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <!-- 小团成功或进行中 并且小团没有结束 -->
                        <div v-else>

                            <!-- 是参与者 -->
                            <div v-if="productDetail.IsJoinGroup">
                                <div class="share-btn"><span class="zmjd-iconfont _icon">&#xe62c;</span>邀请好友</div>
                            </div>
                            <!-- 不是参与者 -->
                            <div v-else>
                                <div class="join-btn open-buy">￥{{productDetail.IsVip?productDetail.GroupSKU.VIPPrice:productDetail.GroupSKU.Price}}&nbsp;&nbsp;@(isLikeGroup ? "参与助力" : "参与拼团")</div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- 没有GroupId -->
                <div v-else>
                    <!-- 大团结束 -->
                    <div v-if="productDetail.BuyStatus.ActivityState==0||productDetail.BuyStatus.ActivityState==2">
                        <div class="cant-buy">活动结束</div>
                    </div>
                    <!-- 大团未开始 -->
                    <div v-if="productDetail.BuyStatus.ActivityState==3">
                        <div class="cant-buy">尚未开始</div>
                    </div>
                    <!-- 大团进行中 -->
                    <div v-if="productDetail.BuyStatus.ActivityState==1">
                        <div class="l">
                            <div v-if="productDetail.IsVip">
                                <div class="single-buy">￥{{productDetail.SingleSKU.VIPPrice}}&nbsp;&nbsp;直接购买</div>
                            </div>
                            <div v-else>
                                <div class="single-buy">￥{{productDetail.SingleSKU.Price}}&nbsp;&nbsp;直接购买</div>
                            </div>
                        </div>
                        <div class="r">
                            <div class="open-buy">￥{{productDetail.IsVip?productDetail.GroupSKU.VIPPrice:productDetail.GroupSKU.Price}}&nbsp;&nbsp;@(isLikeGroup ? "发起助力" : "发起拼团")</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="group-rule-close @(isApp==true?"group-rule-closeapp":"")" style="display:none;"><img src="http://whfront.b0.upaiyun.com/app/img/coupon/fruitday/rules_btn_close.png?v=2017031401" alt="关闭" /></div>
        <div class="group-rule @(isApp==true?"appgroup-rule":"")" style="display:none;">

            <img v-if="productDetail.activity.GroupSponsorCanBuyVIPFirstCoupon" data-orisrc="http://whfront.b0.upaiyun.com/app/img/coupon/groupproduct/group-rule-pic-for-new-vip.png?v=2017052301" src="" alt="活动说明" />
            <img v-else data-orisrc="http://whfront.b0.upaiyun.com/app/img/coupon/groupproduct/group-rule-pic.png?v=2017091601" src="" alt="活动说明" />

        </div>

        <div class="group-share-tip" style="display:none;">
            @if (isLikeGroup)
            {
                <img data-orisrc="http://whfront.b0.upaiyun.com/app/img/coupon/groupproductfortree/group-tree-weixin-sharetip.png?v=2017092201" src="" alt="点击右上角分享哦" />
            }
            else
            {
                <img data-orisrc="http://whfront.b0.upaiyun.com/app/img/coupon/groupproduct/group-weixin-sharetip.png?v=2017051901" src="" alt="点击右上角分享哦" />
            }
        </div>

        <div class="pubAlertTip" style="display:none;">
            <div class="tipinfo"></div>
        </div>
        <footer>
            <input type="hidden" id="skuid" value="@skuid" />
            <input type="hidden" id="groupid" value="@groupid" />
            <input type="hidden" id="aid" v-model="productDetail.activity.ID" />
            <input type="hidden" id="atype" v-model="productDetail.activity.Type" />
            <input type="hidden" id="sellPrice" v-model="productDetail.IsVip?productDetail.SKUInfo.SKU.VIPPrice:productDetail.SKUInfo.SKU.Price" />
            <input type="hidden" id="skuPrice" v-model="productDetail.SKUInfo.SKU.Price" />
            <input type="hidden" id="skuVipPrice" v-model="productDetail.SKUInfo.SKU.VIPPrice" />
            <input type="hidden" id="isNewVipProduct" v-model="productDetail.activity.PageTitle" />
            <input type="hidden" id="_name" v-model="productDetail.activity.PageTitle" />

            <input type="hidden" id="hidCurUserCID" value="@(ViewBag.CID)" />
            <input type="hidden" id="hidWxUnionid" value="@(ViewBag.Unionid)" />
            <input type="hidden" id="pcid" value="@(pcid)" />
            <input type="hidden" id="userid" value="@userid" />
            <input type="hidden" id="openid" value="@(weixinUserInfo != null ? weixinUserInfo.Openid : "")" />
            <input type="hidden" id="customerType" value="@userInfo.CustomerType" />
            <input type="hidden" id="isvip" value="@(isVip ? 1 : 0)" />
            <input type="hidden" id="isapp" value="@(isApp ? 1 : 0)" />
            <input type="hidden" id="isInWeixin" value="@(isInWeixin ? 1 : 0)" />
            <input type="hidden" id="stype" value="@(Convert.ToInt32(stype))" />
            <input type="hidden" id="cansell" value="@(canShop ? 1 : 0)" />
            <input type="hidden" id="isLikeGroup" value="@(isLikeGroup ? 1 : 0)" />
            <input type="hidden" id="appShareLink" value="@appShareLink" />
            <input type="hidden" id="walletRoomCouponLink" value="@walletRoomCouponLink" />
            <input type="hidden" id="walletProductCouponLink" value="@walletProductCouponLink" />
            <input type="hidden" id="appMyOrderUrlForApp" value="@appMyOrderUrlForApp" />
            <input type="hidden" id="appMyOrderUrlForWeb" value="@appMyOrderUrlForWeb" />
            <input type="hidden" id="weixinCode" value="@code" />
            <input type="hidden" id="likeGroupProductUrl" value="@likeGroupProductUrl" />

            <input type="hidden" id="year0" value="@now.Year" />
            <input type="hidden" id="month0" value="@(now.Month)" />
            <input type="hidden" id="day0" value="@now.Day" />
            <input type="hidden" id="hour0" value="@now.Hour" />
            <input type="hidden" id="minute0" value="@now.Minute" />
            <input type="hidden" id="second0" value="@now.Second" />

            <form style="display:none;">
                <input type="text" id="loginput" value="0" />
            </form>
        </footer>

    </div>
    <script>
        //声明_czc对象:
        var _czc = _czc || [];
        try {

            //绑定siteid
            _czc.push(["_setAccount", "1275441729"]);

        } catch (e) {

        }
    </script>
    <script>
        var pub_userid = "@userid";
        window.isMobile = @WHotelSite.Utils.JSONEncode(WHotelSite.Utils.IsMobile());
        window.contentUrl = @Html.Raw(WHotelSite.Utils.JSONEncode(Url.Content("~/Content")));
        window.httpsWebUrl = @Html.Raw(WHotelSite.Utils.JSONEncode(System.Configuration.ConfigurationManager.AppSettings["HttpsWebSiteUrl"]));
    </script>
    <script src="~/Content/js/jquery-1.10.2-min.js"></script>
    <script src="~/Content/js/framework/config.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/framework/vue.min.js"></script>
    <script src="~/Content/js/framework/zmjd.modal.min.js"></script>
    <script src="~/Content/js/framework/zmjd.swiper.min.js"></script>
    <script src="~/Content/js/framework/zmjiudian.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/framework/zmjd.statistic.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/VerifyInput.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/geetest/gt.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/login.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/coupon/couponshopforgroupproduct.js?v=@(Helpers.curAppVer())"></script>
    <script>
        try {
            onAppShareCall = function () {
                var title = "@s_title";
                var Content = "@(s_content)";
                var photoUrl = "@(s_poto_url)";
                var shareLink = "@(s_url)";
                try { whotel.appShareData(title, Content, photoUrl, shareLink); } catch (e) { }
                var returnStr = '{"title":"{0}","Content":"{1}","photoUrl":"{2}","shareLink":"{3}"}';
                return returnStr.format(title, Content, photoUrl, shareLink);
            }
            onAppShareCall();
        }
        catch (e) { }
    </script>
    @if (isInWeixin)
    {
        <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript"></script>
        <script>

    GetWeixinApiConfig();//注册

    wx.ready(function () {

        wx.onMenuShareTimeline({
            title: '@s_title',
            desc: '@(s_content)',
            link: '@(s_url + "&_sourcekey=sku_wx_line")',
            imgUrl: '@(s_poto_url)',
                success: function (res) {
                },
                cancel: function (res) {
                }
            });

            wx.onMenuShareAppMessage({
                title: '@s_title',
                desc: '@(s_content)',
                link: '@(s_url + "&_sourcekey=sku_wx_friend")',
                imgUrl: '@(s_poto_url)',
                success: function (res) {
                },
                cancel: function (res) {
                }
            });

    });

    function GetWeixinApiConfig() {

        var url = location.href.split("#")[0];
        $.ajax({
            url: '/Coupon/GetWeixinConfigInfo',
            type: 'POST',
            data: { url: url },
            dataType: 'json',
            //async: false,
            error: function () {
                console.log("网络服务错误");
            },
            success: function (result) {
                if (typeof (result.Success) != undefined && result.Success == 1) {
                    return false;
                }
                else {
                    //得到微信config的值
                    var array = [
                        'checkJsApi',
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage',
                        'onMenuShareQQ',
                        'onMenuShareQZone',
                        'hideOptionMenu'
                    ];
                    if (result.jsApiList) {
                        var jsArray = result.jsApiList.split(',');
                        for (var key in jsArray) {
                            array.push("" + jsArray[key]);
                        }
                    }

                    wx.config({
                        debug: false,
                        appId: result.appId,
                        timestamp: "" + result.timestamp,
                        nonceStr: result.nonceStr,
                        signature: result.signature,
                        jsApiList: array
                    });
                }
            }
        });
    }

        </script>
    }
    @if (ViewBag.LoadCNZZ == null || ViewBag.LoadCNZZ)
    {
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1275441729'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1275441729%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    }
</body>
</html>
