@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";

    ViewBag.Title = "199会员预约统计";
    
    var isApp = ViewBag.IsApp;
    var aid = ViewBag.Aid;

    List<HJD.HotelManagementCenter.Domain.Comm.ActvieLuckyDrawEntity> allList = ViewBag.AllList;
}

@section styles
{
    <link href="/content/css/coupon/couponshopforvip2.css?v=@(Helpers.curAppVer())" rel="stylesheet">
    <style type="text/css">
        body {
            background:#fff;
        }
    </style>
}

<div style="width:100%;height:auto;">
    <div style="height: 2em; line-height: 2em; font-size: 1.1em; font-weight: bold; margin: 0 0 0 0.1em; ">199会员预约统计</div>
    @if (allList != null)
    {
        <div style="height: 1.5em; line-height: 1.5em; margin:0 0 0 0.1em;">截至目前预约总数：@(allList.Count)</div>
        <table style="width: 98%;font-size:0.9em;margin:0 0 0 1%;" border="1" cellpadding="2" cellspacing="2">
            <tr><td>No</td><td>用户ID</td><td>预约手机号</td><td>预约时间</td></tr>
            @for (int i = 0; i < allList.Count; i++)
            {
                var obj = allList[i];
                <tr><td>@(i + 1)</td><td>@(obj.Name)</td><td>@(obj.Phone)</td><td>@(obj.CreateTime)</td></tr>
            }
        </table>
    }
    
</div>

<footer>
    <input type="hidden" id="aid" value="@aid" />
</footer>

@section scripts
{
    <script src="~/Content/js/coupon/couponshopforvip2.js?v=@(Helpers.curAppVer())"></script>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3566e9570ddbe6722a51adedffbf065b' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script>
            window.isMobile = @WHotelSite.Utils.JSONEncode(WHotelSite.Utils.IsMobile());
            window.contentUrl = @Html.Raw(WHotelSite.Utils.JSONEncode(Url.Content("~/Content")));
            window.httpsWebUrl = @Html.Raw(WHotelSite.Utils.JSONEncode(System.Configuration.ConfigurationManager.AppSettings["HttpsWebSiteUrl"]));
    </script>
    <script type="text/javascript" charset="utf-8">
        function goto(param) {
            var url = "@(ViewBag.AccessProtocal)" + param;
            this.location = url;
        }

        function gourl(url) {
            location.href = url;
        }

        function loginCallback(userid) {
            location.replace(location.pathname + "?userid=" + userid);
        }
    </script>
}
