@{
    //ViewBag.Title = "发红包-活动页面";
    Layout = null;
    bool isMicro = ViewBag.isMicro;
    bool isApp = ViewBag.IsApp;
    ActivityResult result = ViewBag.share;
    string guid = ViewBag.guid;
    
    string originShareUrl = ViewBag.originShareUrl;
    string appNextUrl = ViewBag.nextUrl;
    decimal money = (decimal)ViewBag.Money;
    DateTime date = DateTime.Now;
    var cssSuffix = string.Format("?suffix={0}{1}{2}{3}{4}", date.Year, date.Month, date.Day, date.Hour, date.Minute);
}
    <head>
        <meta charset="utf-8">
        <title>发红包</title>
        <link rel="stylesheet" href="~/Content/css/cash_list_reset.css" />
        <link rel="stylesheet" href="~/Content/css/css_chaikaihongbao6.css@(cssSuffix)" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    </head>
    <body>
        <div class="container hb-bg">
            <div class="content hb">
                <img src="/Content/images/hongbao/hb01.png" width="75%" style="box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, .3);" alt="" />
                <div class="brook1">
                    <span>
                        发送此红包至朋友圈<br>
                        您可领取 <span style="font-size:1.2em"> @Math.Round(money / 100, 0)</span> 元现金券
                    </span><br>
                    <br>（在APP"我的钱包"中查询）
                </div>
                <div class="brook3 button01">
                    @if (!isMicro && isApp)
                    {
                        <a href="whfriend://Coupon?title=@(result.title)&content=@(result.Content)&photoUrl=@(result.photoUrl)&shareLink=@(result.shareLink)&nextUrl=@(appNextUrl)&shareType=2">
                            <img src="/Content/images/hongbao/button01.png" width="80%">
                        </a>
                    }
                    else
                    {
                        <a id="sendCoupon" onclick="shareWXTimeLine('@(result.title)','@(result.Content)','@(result.photoUrl)','@(originShareUrl)');">
                            <img src="/Content/images/hongbao/button01.png" width="80%">
                        </a>
                    }
                </div>
            </div>
        </div>
        <script src="~/Content/js/jquery-1.10.2-min.js" type="text/javascript"></script>
        <script defer="defer" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript"></script>
        <script defer="defer" src="~/Content/js/Coupon.js" type="text/javascript"></script>
    </body>