@using WHotelSite
@using WHotelSite.App_Code
@using HJD.AccountServices.Entity

@model PersonalInfo
@{
    ViewBag.Title = "个人信息";
    ViewBag.BodyClass = "hotellistpage";
    var titleInfos = from info in Model.CommonInfos where info.InfoType == 1 select info;
    var addressInfos = from info in Model.CommonInfos where info.InfoType == 2 select info;
    var concatInfos = from info in Model.CommonInfos where info.InfoType == 3 select info;
}

<!-- Add -->
<div class="container mainbody hidden-xs">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            @Helpers.BreadCrumbs(Url, 0, 0, 4)
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<div class="container mainbody">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="row">
                <!-- 订单列表 左侧导航 Left -->
                <div class="col-md-3 col-sm-3  Screening hidden-xs">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">个人中心</h3>
                        </div>
                        @Helpers.InsertLeftNaviPanel(4, Url)
                    </div>
                    <div class="tel">
                        客服电话:<i>4000-021-702</i>
                    </div>
                </div>
                <!-- 订单列表 右侧导航 Right -->
                <div class="col-md-9 col-sm-9">
                    <!-- 条件选择栏 mobile 开始 -->
                    <div class="row toolbar2 visible-xs">
                        <div class="col-xs-3">
                            <button type="button" onclick="history.back()" class="btn btn-sm  btn-img01"><img src="@Url.Content("~/Content/images/icon-back.png")" class="mobilepic" alt="" /></button>
                        </div>
                        <div class="col-xs-6 text-center listtitle">
                            个人信息
                        </div>
                        <div class="col-sm-2 col-xs-3 text-right">
                        </div>
                    </div>
                    <!-- 条件选择栏 mobile 结束 -->
                    <div class="row userright hidden-xs">
                        <div class="col-sm-12 infodetail">
                            <div class="row">
                                <h5>基本信息</h5>
                                <dl class="dl-horizontal detailinfo2" id="basicInfo">
                                    <dt>昵称：</dt>
                                    <dd id="ddNickName">@Model.NickName</dd>
                                    <dt>手机号：</dt>
                                    <dd id="ddPhoneNumber">@Model.PhoneNumber</dd>
                                </dl>
                                <div class="tool" id="basicInfoTool">
                                    <button type="button" class="btn btn-05" id="btnEditInfo">编辑</button>
                                    <button type="button" class="btn btn-05" data-toggle="modal" data-target="#myModal6" id="btnEditPassword">修改密码</button>
                                </div>
                                <!-- 编辑信息 -->
                                <br />@*编辑状态切换如下，本行信息需删除*@
                                <dl class="dl-horizontal detailinfo2" id="dlEditBasicInfo" style="display:none">
                                    <dt>昵称：</dt>
                                    <dd><input type="email" class="form-control" id="nickName4Modify" value="@Model.NickName" style="width:160px;"></dd>
                                    <dt>手机号：</dt>
                                    <dd>
                                        <input type="email" class="form-control" id="phoneNumber4Modify" value="@Model.PhoneNumber" style="width:160px;float:left;margin-right:10px;">
                                        <button type="button" class="btn btn-09" style="float:left;position:relative;top:2px;display:none" id="btnSend">发送验证码</button>
                                        <input type="hidden" value="@Model.UserID" id="hidden4userID" />
                                    </dd>
                                    <dt>密码：</dt>
                                    <dd><input type="email" class="form-control" id="password4Modify" value="" style="width:160px;"></dd>
                                    <div id="confirmCodeDiv" style="display:none">
                                        <dt>验证码：</dt>
                                        <dd>
                                            <input type="email" class="form-control" id="confirmCode4Modify" value="" style="width:160px;float:left;margin-right:10px;">
                                            <button type="button" class="btn btn-05" style="float:left;position:relative;top:2px;display:none" id="btnReSend">30秒后重发</button>
                                            <input type="hidden" value="" id="intervalID4ModifyPhoneNum" />
                                            <br />
                                        </dd>
                                    </div>
                                    <dt></dt>
                                    <dd>
                                        <button type="button" class="btn btn-07" id="btnSaveBasicInfo">保存</button>
                                        <button type="button" class="btn btn-05" id="btnCancelBasicInfo">取消</button>
                                    </dd>
                                </dl>
                            </div>
                            <hr class="linedotted" />
                            <div class="row" id="commInfoDiv">
                                <h5>发票信息</h5>
                                <dl class="dl-horizontal detailinfo2" id="1info">
                                    <dt>发票抬头：</dt>
                                    <dd>
                                        @foreach (UserCommInfoEntity entity in titleInfos)
                                        {
                                            <div class="row fp">
                                                <div class="col-sm-1 radio1">
                                                    <input type="radio" name="optionsRadios" value="option1">
                                                </div>
                                                <div class="col-sm-7 originValueDiv">
                                                    @entity.Info
                                                </div>
                                                <div class="col-sm-4 edit">
                                                    <input type="hidden" class="stateHidden" value="@entity.State" />
                                                    <input type="hidden" class="idxHidden" value="@entity.IDX" />
                                                    <button type="button" class="btn btn-06 btnEdit">编辑</button>
                                                    <button type="button" class="btn btn-08 btnDel">删除</button>
                                                </div>
                                            </div>
                                            <div class="row fp" style="display:none">
                                                <div class="col-sm-7">
                                                    <input type="email" class="form-control" value="@entity.Info">
                                                </div>
                                                <div class="col-sm-4 edit">
                                                    <input type="hidden" class="stateHidden" value="@entity.State" />
                                                    <input type="hidden" class="idxHidden" value="@entity.IDX" />
                                                    <button type="button" class="btn btn-07 btnSaveEdit">保存</button>
                                                    <button type="button" class="btn btn-06 btnCancel">取消</button>
                                                </div>
                                            </div>
                                        }
                                        <div class="row fp" style="display:none">
                                            <div class="col-sm-7">
                                                <input type="email" class="form-control" placeholder="">
                                            </div>
                                            <div class="col-sm-4 edit">
                                                <button type="button" class="btn btn-07 btnSaveAdd">保存</button>
                                                <button type="button" class="btn btn-06 btnCancel">取消</button>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-05 btnAdd">新增</button>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal detailinfo2" id="3info">
                                    <dt>收件人：</dt>
                                    <dd>
                                        @foreach(UserCommInfoEntity entity in concatInfos){
                                            <div class="row fp">
                                                <div class="col-sm-1 radio1">
                                                    <input type="radio" name="optionsRadios" value="option1">
                                                </div>
                                                <div class="col-sm-7 originValueDiv">
                                                    @entity.Info
                                                </div>
                                                <div class="col-sm-4 edit">
                                                    <input type="hidden" class="stateHidden" value="@entity.State" />
                                                    <input type="hidden" class="idxHidden" value="@entity.IDX" />
                                                    <button type="button" class="btn btn-06 btnEdit">编辑</button>
                                                    <button type="button" class="btn btn-08 btnDel">删除</button>
                                                </div>
                                            </div>
                                            <div class="row fp" style="display:none">
                                                <div class="col-sm-7">
                                                    <input type="email" class="form-control" placeholder="" value="@entity.Info">
                                                </div>
                                                <div class="col-sm-4 edit">                                                    
                                                    <input type="hidden" class="stateHidden" value="@entity.State" />
                                                    <input type="hidden" class="idxHidden" value="@entity.IDX" />
                                                    <button type="button" class="btn btn-07 btnSaveEdit">保存</button>
                                                    <button type="button" class="btn btn-06 btnCancel">取消</button>
                                                </div>
                                            </div>
                                        }
                                        <div class="row fp" style="display:none">
                                            <div class="col-sm-7">
                                                <input type="email" class="form-control" placeholder="">
                                            </div>
                                            <div class="col-sm-4 edit">
                                                <button type="button" class="btn btn-07 btnSaveAdd">保存</button>
                                                <button type="button" class="btn btn-06 btnCancel">取消</button>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-05 btnAdd">新增</button>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal detailinfo2" id="2info">
                                    <dt>收件地址：</dt>
                                    <dd>
                                        @foreach(UserCommInfoEntity entity in addressInfos){
                                            <div class="row fp">
                                                <div class="col-sm-1 radio1">
                                                    <input type="radio" name="optionsRadios" value="option1">
                                                </div>
                                                <div class="col-sm-7 originValueDiv">
                                                    @entity.Info
                                                </div>
                                                <div class="col-sm-4 edit">
                                                    <input type="hidden" class="stateHidden" value="@entity.State" />
                                                    <input type="hidden" class="idxHidden" value="@entity.IDX" />
                                                    <button type="button" class="btn btn-06 btnEdit">编辑</button>
                                                    <button type="button" class="btn btn-08 btnDel">删除</button>
                                                </div>
                                            </div>
                                            <div class="row fp" style="display:none">
                                                <div class="col-sm-7">
                                                    <input type="email" class="form-control" placeholder="" value="@entity.Info">
                                                </div>
                                                <div class="col-sm-4 edit">
                                                    <input type="hidden" class="stateHidden" value="@entity.State" />
                                                    <input type="hidden" class="idxHidden" value="@entity.IDX" />
                                                    <button type="button" class="btn btn-07 btnSaveEdit">保存</button>
                                                    <button type="button" class="btn btn-06 btnCancel">取消</button>
                                                </div>
                                            </div>
                                        }
                                        <div class="row fp" style="display:none">
                                            <div class="col-sm-7">
                                                <input type="email" class="form-control" placeholder="">
                                            </div>
                                            <div class="col-sm-4 edit">
                                                <button type="button" class="btn btn-07 btnSaveAdd">保存</button>
                                                <button type="button" class="btn btn-06 btnCancel">取消</button>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-05 btnAdd">新增</button>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <!-- Modal login  登录 -->
    <div class="modal fade formfloat1" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">登录周末酒店账号</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="phoneNum4Login" class="col-sm-3 control-label">手机号码:</label>
                            <div class="col-sm-8 maininput">
                                <input type="email" class="form-control phoneNum" id="phoneNum4Login" placeholder="">
                            </div>
                            <div class="col-sm-1 imgsuccess">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-yes.png")" class="alertimg" alt="" /></a>
                            </div>
                            <div class="col-sm-1 imgerror">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-error.png")" class="alertimg" alt="" /></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password4Login" class="col-sm-3 control-label">密码:</label>
                            <div class="col-sm-8 maininput">
                                <input type="password" class="form-control password" id="password4Login" placeholder="">
                            </div>
                            <div class="col-sm-1 imgsuccess">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-yes.png")" class="alertimg" alt="" /></a>
                            </div>
                            <div class="col-sm-1 imgerror">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-error.png")" class="alertimg" alt="" /></a>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label class="col-xs-6" id="isAutoLogin">
                                <input type="hidden" value="True"><input id="autoLogin" type="checkbox" checked>下次自动登录
                            </label>
                            <div class="col-xs-6 alignright">
                                <a href="javascript:;" class="ftblue alignright" data-toggle="modal" data-target="#myModal3" data-dismiss="modal" aria-hidden="true">忘记密码？</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-login" style="width:100%;">登录</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal3 忘记密码1 找回密码1：输入手机号 -->
    <div class="modal fade formfloat1" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel3">密码找回</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">
                        <br />
                        <div class="form-group">
                            <label for="phoneNum4Password" class="col-sm-3 control-label">手机号码:</label>
                            <div class="col-sm-8 maininput">
                                <input type="email" class="form-control phoneNum" id="phoneNum4Password" placeholder="请输入注册手机号码">
                            </div>
                            <div class="col-sm-1 imgsuccess">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-yes.png")" class="alertimg" alt="" /></a>
                            </div>
                            <div class="col-sm-1 imgerror">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-error.png")" class="alertimg" alt="" /></a>
                            </div>
                        </div>
                        <br />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-login" style="width:60%;" data-toggle="modal" data-target="#myModal4" data-dismiss="modal" aria-hidden="true">下一步</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal4 忘记密码-2 找回密码2：输入验证码、新密码，新密码确认  -->
    <div class="modal fade formfloat1" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">设置密码</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" value="" id="intervalIdHidden4Password" />
                            <label for="verifyCode4Password" class="col-sm-3 control-label">验证码:</label>
                            <div class="col-sm-5 maininput">
                                <input type="email" class="form-control" id="verifyCode4Password" placeholder="">
                            </div>
                            <div class="col-sm-3 yzm">
                                <button type="button" class="btn btn-yzm2 hidden" style="width:100%;">30秒后重发</button>
                                <button type="button" class="btn btn-yzm1" style="width:100%;">发送验证码</button>
                            </div>
                            <div class="col-sm-1 imgsuccess">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-yes.png")" class="alertimg" alt="" /></a>
                            </div>
                            <div class="col-sm-1 imgerror">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-error.png")" class="alertimg" alt="" /></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newPassword" class="col-sm-3 control-label">输入新密码:</label>
                            <div class="col-sm-8 maininput">
                                <input type="password" class="form-control password" id="newPassword" placeholder="">
                            </div>
                            <div class="col-sm-1 imgsuccess">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-yes.png")" class="alertimg" alt="" /></a>
                            </div>
                            <div class="col-sm-1 imgerror">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-error.png")" class="alertimg" alt="" /></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newPasswordAgain" class="col-sm-3 control-label">确认新密码:</label>
                            <div class="col-sm-8 maininput">
                                <input type="password" class="form-control password" id="newPasswordAgain" placeholder="">
                            </div>
                            <div class="col-sm-1 imgsuccess">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-yes.png")" class="alertimg" alt="" /></a>
                            </div>
                            <div class="col-sm-1 imgerror">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-error.png")" class="alertimg" alt="" /></a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-login" style="width:60%;" data-toggle="modal" data-target="#myModal5" data-dismiss="modal" aria-hidden="true">完成</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal5 忘记密码-3 找回密码3：密码更新成功提醒框|更新手机号成功提醒 设置成功提醒  -->
    <div class="modal fade formfloat1" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel5">提醒</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">
                        <br />
                        <div class="form-group">
                            <label class="col-sm-12 alertinfo">更新成功，请重新登录！</label>
                        </div>
                        <br />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-login" style="width:60%;" data-toggle="modal" data-target="#myModal" data-dismiss="modal" aria-hidden="true" id="btnJump2Login">确定</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal 修改密码-6  -->
	<div class="modal fade formfloat1" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="modifyPasswordLabel6" aria-hidden="true" >
		<div class="modal-dialog" >
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="modifyPasswordLabel6">修改密码</h4>
			    </div>
			    <div class="modal-body">
			        <form role="form" class="form-horizontal">
				        <div class="form-group">
				            <label for="exampleInputEmail1" class="col-sm-3 control-label">输入原密码:</label>
				            <div class="col-sm-8 maininput">
					            <input type="password" class="form-control password" id="oldpwd4modify" placeholder="">
				            </div>
                            <div class="col-sm-1 imgsuccess">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-yes.png")" class="alertimg" alt="" /></a>
                            </div>
                            <div class="col-sm-1 imgerror">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-error.png")" class="alertimg" alt="" /></a>
                            </div>
				        </div>
				        <div class="form-group">
				            <label for="exampleInputPassword1" class="col-sm-3 control-label">输入新密码:</label>
				            <div class="col-sm-8 maininput">
                                <input type="password" class="form-control password" id="newpwd4modify" placeholder="">
				            </div>
                            <div class="col-sm-1 imgsuccess">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-yes.png")" class="alertimg" alt="" /></a>
                            </div>
                            <div class="col-sm-1 imgerror">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-error.png")" class="alertimg" alt="" /></a>
                            </div>
				        </div>
				        <div class="form-group">
				            <label for="exampleInputPassword1" class="col-sm-3 control-label">确认新密码:</label>
				            <div class="col-sm-8 maininput">
                                <input type="password" class="form-control password passwordagain" id="newpwd4modifyagain" placeholder="">
				            </div>
                            <div class="col-sm-1 imgsuccess">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-yes.png")" class="alertimg" alt="" /></a>
                            </div>
                            <div class="col-sm-1 imgerror">
                                <a href="javascript:;"><img src="@Url.Content("~/Content/images/icon-error.png")" class="alertimg" alt="" /></a>
                            </div>
				        </div>
				        <div  class="modal-footer wjmm">
				            <button type="button" class="btn btn-primary btn-login" style="width:60%;"  data-toggle="modal" data-target="#myModal5"  data-dismiss="modal" aria-hidden="true">完成</button>
                            <div class="wjmm2"><a href="javascript:;" class="ftblue alignright" data-toggle="modal" data-target="#myModal3" data-dismiss="modal" aria-hidden="true">忘记密码？</a></div>
				        </div>
			        </form>
			    </div>
		    </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>