@using WHotelSite
@using WHotelSite.App_Code
@using WHotelSite.Params.Hotel
@{
    SearchHotelListResult result = Model;
    ListParam param = ViewBag.param;
    DistrictInfoEntity city = ViewBag.city;
    InterestModel3 homePageData30 = ViewBag.HomePageData30;
    var distanceFilters = ViewBag.DistanceFilters;
    var priceFilters = ViewBag.PriceFilters;
    var starFilters = ViewBag.StarFilters;
    var theme = homePageData30.ThemeInterestList != null ? homePageData30.ThemeInterestList.FirstOrDefault(p => p.ID == param.Interest) : null;
    var checkIn = DateTime.Now.Date;
    var checkOut = checkIn.AddDays(1);
    var lat = ViewBag.userLat;
    var lng = ViewBag.userLng;
    var aroundcity = ViewBag.aroundcity;
    var zoneid = ViewBag.zoneid;

    HotelPackageCalendar calendar = ViewBag.Calendar;

    var isApp = ViewBag.IsApp;
    var isInWeixin = ViewBag.isInWeixin;
    var isMobile = ViewBag.isMobile;
    var cityId = 0;
    var cityName = "";



    //控制分享配置
    var shareTitle = param.ScType == 3 ? city.Name + "周边精选酒店" : city.Name + "精选酒店";
    var shareDesc = "周末酒店-旅行休闲，又好又划算";
    var shareImgUrl = "http://whfront.b0.upaiyun.com/app/img/home/zmjd-logo-256x256.png";
    var shareLink = System.Web.HttpUtility.UrlEncode(string.Format("http://www.zmjiudian.com/hotel/list?city={0}&sctype={1}&userLat={2}&userLng={3}&districtName={4}&_newpage=0", city.DistrictID, param.ScType,lat,lng,city.Name)
        ,System.Text.Encoding.UTF8);
    if (isMobile)
    {
        Layout = "~/Views/Shared/_LayoutApp.cshtml";
    @*<div style="margin:0 0 0 0;"><a href="whotelapp://www.zmjiudian.com/gotopage?url=http%3a%2f%2fwww.zmjd100.com%2fhotel%2flist%3fuserid%3d4907761%26city%3d0%26districtName%3d%26userlat%3d0%26userlng%3d0%26sctype%3d3%26_headSearch%3d1%26_searchType%3d1%26_newpage%3d0">GO APP (Local) >>></a></div>*@
        if (isApp)
        {
            if (city != null && !string.IsNullOrEmpty(city.Name))
            {
                if (param.ScType == 3)
                {
                    ViewBag.Title = string.Format("{0}及周边", city.Name);
                }
                else
                {
                    ViewBag.Title = string.Format("{0}", city.Name);
                }

                cityId = city.DistrictID;
                cityName = city.Name;
            }
            else
            {
                ViewBag.Title = ""; //请尝试输入“上海”
            }
        }
        else
        {
            if (city != null && !string.IsNullOrEmpty(city.Name))
            {
                if (param.ScType == 3)
                {
                    ViewBag.Title = string.Format("{0}周边精选酒店", city.Name);
                }
                else
                {
                    ViewBag.Title = string.Format("{0}精选酒店", city.Name);
                }

                cityId = city.DistrictID;
                cityName = city.Name;
            }
            else
            {
                if (param.ScType == 3)
                {
                    ViewBag.Title = string.Format("周边精选酒店");
                }
                else
                {
                    ViewBag.Title = string.Format("精选酒店");
                }
            }
        }

        ViewBag.UseMuiCss = false;
        ViewBag.UseMuiJs = false;
        if (isApp)
        {
            ViewBag.LoadHmBaidu = false;
        }
    }
    else
    {
        ViewBag.BodyClass = "hotellistpage";

        if (theme != null)
        {
            if (param.ScType == 3)
            {
                ViewBag.Title = string.Format("{0}{1}周边酒店_住宿-周末酒店", city.Name, theme.Name);
                ViewBag.Keywords = string.Format("发现{0}附近{1}{2}家适合度假酒店，点击查看更多酒店住、吃、玩信息、网友点评、优惠价格，发现更适合你的酒店。", city.Name, theme.Name, result.TotalCount);
                ViewBag.Description = string.Format("{0}附近{1}酒店_住宿-{0}{1}周边酒店_住宿", city.Name, theme.Name);
            }
            else
            {
                ViewBag.Title = string.Format("{0}附近{1}酒店_住宿-{0}{1}周边酒店_住宿-周末酒店", city.Name, theme.Name);
                ViewBag.Keywords = string.Format("发现{0}附近{1}{2}家适合度假酒店，点击查看更多酒店住、吃、玩信息、网友点评、优惠价格，发现更适合你的酒店。", city.Name, theme.Name, result.TotalCount);
                ViewBag.Description = string.Format("{0}附近{1}酒店_住宿-{0}{1}周边酒店_住宿", city.Name, theme.Name);
            }
        }
        else
        {
            if (param.ScType == 3)
            {
                ViewBag.Title = string.Format("{0}周边景点附近酒店-周末酒店", city.Name);
                ViewBag.Keywords = string.Format("发现{0}周边景点景区酒店，点击查看更多酒店住、吃、玩信息、网友点评、优惠价格，发现更适合你的酒店。", city.Name);
                ViewBag.Description = string.Format("{0}附近景区酒店-{0}周边景点附近酒店-周末酒店", city.Name);
            }
            else
            {
                ViewBag.Title = string.Format("{0}景区酒店-{0}景点附近酒店-周末酒店", city.Name);
                ViewBag.Keywords = string.Format("发现{0}景点附近酒店，点击查看更多酒店住、吃、玩信息、网友点评、优惠价格，发现更适合你的酒店。", city.Name);
                ViewBag.Description = string.Format("{0}附近景区酒店-{0}周边景点附近酒店-周末酒店", city.Name);
            }
        }

        if (homePageData30.ThemeInterestList != null)
        {
            foreach (List<InterestEntity> list in new List<InterestEntity>[] {
            homePageData30.ThemeInterestList
        })
            {
                InterestEntity entity = new InterestEntity();
                entity.ID = 0;
                entity.Name = "全部";
                entity.HotelCount = homePageData30.TotalHotelNum;
                list.Insert(0, entity);
            }
        }
        else
        {
            homePageData30.ThemeInterestList = new List<InterestEntity>();
        }
    }
}

@if (isMobile)
{
    <link href="/content/css/framework/iscroll.css" rel="stylesheet">
    <link href="~/Content/css/framework/zmjd.picker.min.css" rel="stylesheet" />
    <link href="~/Content/css/calendar_price.css" rel="stylesheet" />
    <link href="~/Content/css/hotel/list.css?v=@(Helpers.curAppVer())" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>

    <div class="section filter-section" style="@(!isApp ? "padding-top:1.3em;" : "")">
        <div class="line">
            @if (!isApp && false)
            {
                <div class="item">全部城市</div>
            }
            <div class="item" data-year="" data-month="" id="date-picker">日期</div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="section theme-section" id="theme-obj" v-if="themeData&&themeData.ICONList&&themeData.ICONList.length>0">
        <div class="tit">
            <div class="left">热门主题</div>
            <div class="right"></div>
            <div style="clear:both;"></div>
        </div>
        <div class="block">
            <div id="theme-scroll-list-seat" class="seat">
                <img src="~/Content/images/seat/img-theme-list-seat.png" />
            </div>
            <div id="theme-scroll-list" class="scroll-list" style="display:none;">
                <div class="_scroller">
                    <div class="scrollLine">
                        <div class="t-space-start"></div>
                        <loop v-for="iconItem in themeData.ICONList">
                            <div class="t-item {{iconItem.ID===themeData.selInterest?'sel':''}}" data-inid="{{iconItem.ID}}" data-num="{{$index}}" data-op="{{iconItem.ID===themeData.selInterest?'1':'0'}}">
                                <div class="i-img">
                                    <img src="{{iconItem.ImageUrl.replace('290x290','350X350')}}" alt="" />
                                    <img class="m-img" src="http://whfront.b0.upaiyun.com/www/img/hotel/list/theme-icon-model-pic.png" alt="" />
                                    <div class="p-info">
                                        <div class="_t1">{{iconItem.Name}}</div>
                                    </div>
                                    <div class="sel-show zmjd-iconfont">&#xe672;</div>
                                </div>
                            </div>
                            <div class="t-space" v-if="$index+1<themeData.ICONList.length"></div>
                        </loop>
                        <div class="t-space1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section hotels-section" id="hotels-obj">
        <div class="tit">
            <div class="left">精选酒店</div>
            <div class="right"></div>
            <div style="clear:both;"></div>
        </div>
        <div v-cloak class="list" v-if="hotelsData&&hotelsData.Result20&&hotelsData.Result20.length>0">
            <div class="item" v-for="hotelItem in hotelsData.Result20" onclick="openHotel('{{hotelItem.Id}}')">
                <div class="h-img">
                    <img v-if="$index<2" class="show-img" src="{{hotelItem.HotelPicUrl}}" alt="" />
                    <img v-else class="show-img lazyload-img" data-original="{{hotelItem.HotelPicUrl}}" data-lazyload-id='{{$index}}' alt="" />
                </div>
                <div class="hname-info">
                    <div class="hotel-name">{{hotelItem.Name}}</div>
                    <div class="hotel-packagebrief" v-if="hotelItem.PackageBrief">{{hotelItem.PackageBrief}}</div>
                    <div class="hotel-price" v-if="hotelItem.VIPPrice">
                        <span class="atv-price"><span class="zmjd-iconfont p-icon" v-if="hotelItem.VIPPrice!=hotelItem.MinPrice">&#xe65f;</span> <span class="p-un">¥</span>{{hotelItem.VIPPrice}}<span class="p-sml">起/{{hotelItem.NightCount}}晚</span></span>
                        <span class="del-price" v-if="hotelItem.VIPPrice!=hotelItem.MinPrice">普通价 ¥{{hotelItem.MinPrice}}起/{{hotelItem.NightCount}}晚</span>
                    </div>
                </div>
            </div>
        </div>
        <div v-cloak class="hotels-null" style="display:none;">
            <div class="icon"><img src="http://whfront.b0.upaiyun.com/app/img/hotel/list/img-hotels-null.png" alt="" /></div>
            <div class="txt">当前条件下没有找到精选酒店</div>
        </div>
        <div class="hotels-section-foot"></div>
        <div class="scrollpageloading"><img src="http://whfront.b0.upaiyun.com/app/img/loading-changes.gif" alt="" /></div>
    </div>

    <div class="date-ctrl" style="display:none;">
        <a class="date-cancel-btn">重置</a>
        <a class="date-ok-btn">确定</a>
    </div>

    <footer>
        <input type="hidden" id="isApp" value="@(isApp ? 1 : 0)" />
        <input type="hidden" id="inWeixin" value="@(isInWeixin?"1":"0")" />
        <input type="hidden" id="isMobile" value="@(isMobile?"1":"0")" />
        <input type="hidden" id="checkIn" value="@checkIn.ToString("yyyy-MM-dd")" />
        <input type="hidden" id="checkOut" value="@checkOut.ToString("yyyy-MM-dd")" />
        <input type="hidden" id="cityId" value="@(cityId)" />
        <input type="hidden" id="cityName" value="@(cityName)" />
        <input type="hidden" id="interest" value="@(param.Interest)" />
    </footer>
}
else
{
    @section breadcrumbs
    {
        @Helpers.BreadCrumbs(Url, city.DistrictID, city.Name, 0, "", param.ScType)
    }

    <!-- HotelName -->
    <div class="container mainbody">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <!-- Hotel Left -->
                    <div class="col-md-3 col-sm-3 Screening hidden-xs">
                        @InterestPanel("按主题找", homePageData30.ThemeInterestList, param, "interest", param.Interest, "theme")
                        @FilterPanel("按价格找", priceFilters, param, "price", param.Price)
                        @FilterPanel("按星级找", starFilters, param, "star", param.Star.ToString())
                    </div>
                    <!-- Hotel Right -->
                    <div class="col-md-9 col-sm-9">
                        @{
                            List<String[]> options = new List<string[]>
                                                {
                                                    new String[] {"0", "默认推荐"},
                                                    new String[] {"1", "按口碑排序"},
                                                    new String[] {"3", "按价格由低到高"},
                                                    new String[] {"4", "按价格由高到低"}
                                                };
                        }

                        <!-- 条件选择栏 开始 -->
                        <div class="row toolbar hidden-xs">
                            <div class="col-sm-1 hidden-xs">
                                筛选：
                            </div>
                            <div class="col-xs-8 visible-xs">
                                <button type="button" class="btn btn-default btn-sm">返回</button>
                            </div>
                            <div class="col-sm-9 hidden-xs">
                                @BadgeButton(param, homePageData30.ThemeInterestList, "interest", param.Interest)
                                @BadgeButton(param, priceFilters, "price", param.Price)
                                @BadgeButton(param, starFilters, "star", param.Star.ToString())
                            </div>
                            <div class="col-sm-2 col-xs-4 text-right">
                                <ul class="nav navbar-right nav3 dd01">
                                    <li id="fat-menu" class="dropdown">
                                        <a href="javascript:;" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><img src="@Url.Content("~/Content/Images/desc.png")" class="mobilepic" alt="">排序</a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">

                                            @foreach (string[] o in options)
                                            {
                                                <li role="presentation" @(param.Sort.ToString() == o[0] ? "class=cur" : string.Empty)><a role="menuitem" tabindex="-1" href="@Url.ListUrl(param.City, param.Interest.ToString(), param.Star.ToString(), param.Price, o[0], param.ScType)">@Html.Raw(o[1])</a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- 条件选择栏 结束 -->
                        <!-- 条件选择栏 mobile 开始 -->
                        <div class="row toolbar2 visible-xs">
                            <div class="col-xs-3">
                                <button type="button" onclick="history.back()" class="btn btn-sm  btn-img01"><img src="@Url.Content("~/Content/Images/icon-back.png")" class="mobilepic" alt="" /></button>
                            </div>

                            <div class="col-xs-6 text-center listtitle">
                                @(theme != null ? theme.Name : city.Name)
                            </div>
                            <div class="col-sm-2 col-xs-3 text-right">
                                <ul class="nav navbar-right nav2 dd01">
                                    <li id="fat-menu" class="dropdown">
                                        <a href="javascript:;" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><img src="@Url.Content("~/Content/Images/desc.png")" class="mobilepic" alt="" /></a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                                            @foreach (string[] o in options)
                                            {
                                                <li role="presentation" @(param.Sort.ToString() == o[0] ? "class=cur" : string.Empty)><a role="menuitem" tabindex="-1" href="@Url.ListUrl(param.City, param.Interest.ToString(), param.Star.ToString(), param.Price, o[0], param.ScType)">@Html.Raw(o[1])</a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- 条件选择栏 mobile 结束 -->
                        <!-- 酒店列表 开始 -->
                        @if (result.Result20.Any())
                        {
                            @Html.Partial("ListContent", result.Result20)
                            <div class="pager1 text-right">
                                @Helpers.Pagination(Url, param, result.TotalCount, param.Count, param.Start)
                            </div>
                        }
                        else
                        {
                            <div class="nullalert text-center">
                                <h5>对不起！没有找到符合您要求的酒店！</h5>
                            </div>

                        }
                        <!-- 酒店列表 结束 -->
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <!-- linker -->
    <div class="container linker">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <div class="row">
                    @foreach (InterestEntity t in homePageData30.ThemeInterestList)
                    {
                        if (t.ID == 0)
                        {
                            continue;
                        }
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a href="@Url.ListUrl(param.City, t.ID.ToString(), string.Empty, string.Empty, string.Empty, param.ScType)">@(city.Name)附近@(t.Name)酒店</a>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
}

@helper InterestPanel(string title, List<InterestEntity> list, ListParam param, string field, int selected, string type)
{
    if (list.Count > 1)
    {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@title</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal" style="overflow: hidden;@(list.Count>10?"height: 210px;":string.Empty)">
                @foreach (InterestEntity t in list)
                    {
                        string klass = t.ID == selected ? "cur" : "";
                        var url = Url.ListUrl(param.City, t.ID.ToString(), param.Star.ToString(), param.Price, param.Sort.ToString(), param.ScType, type);
                    <dt class="@klass"><a href="@url">@t.Name</a></dt>
                    <dd class="@klass"><a href="@url">@(t.HotelCount > 0 ? t.HotelCount.ToString() : "")</a></dd>
                    }
            </dl>
            @if (list.Count > 10)
                {
                <div class="text-center"><button type="button" class="btn btn-more1 more">@(title == "按景区找" ? "更多景区" : "更多主题")</button></div>
                }

        </div>
    </div>
    }
}
@helper FilterPanel(string title, List<FilterItem> items, ListParam param, string field, string selected)
{
    if (items.Count > 0)
    {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@title</h3>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                @foreach (FilterItem t in items)
                    {
                        string klass = t.Value == selected ? "cur" : "";
                        var url = field == "price" ? @Url.ListUrl(param.City, param.Interest.ToString(), param.Star.ToString(), t.Value, param.Sort.ToString(), param.ScType)
                            : @Url.ListUrl(param.City, param.Interest.ToString(), t.Value, param.Price, param.Sort.ToString(), param.ScType);
                    <li class="@klass"><a href="@url">@t.Name</a></li>
                    }
            </ul>
        </div>
    </div>
    }
}
@helper InterestPanelMobile(string title, List<InterestEntity> list, ListParam param, string field, int selected)
{
    if (list.Count > 0)
    {
    <div class="form-group col-sm-6 ">
        <label for="zt" class="col-xs-2 control-label text-center">@title</label>
        <div class="col-xs-10">
            <select class="form-control input-sm">
                @foreach (InterestEntity t in list)
                    {
                        string prop = t.ID == selected ? "selected" : "";
                    <option value="@t.ID" @prop>@t.Name</option>
                    }
            </select>
        </div>
    </div>
    }
}
@helper FilterPanelMobile(string title, List<FilterItem> items, ListParam param, string field, string selected)
{
    <div class="form-group col-sm-6 ">
        <label for="zt" class="col-xs-2 control-label text-center">@title</label>
        <div class="col-xs-10">
            <select class="form-control input-sm">
                @foreach (FilterItem t in items)
                {
                    string prop = t.Value == selected ? "selected" : "";
                    <option value="@t.Value" @prop>@t.Name</option>
                }
            </select>
        </div>
    </div>
}
@helper BadgeButton(ListParam param, List<InterestEntity> list, string field, int selected)
{
    if (selected == 0)
    {
        return;
    }
    InterestEntity entity = null;
    foreach (InterestEntity t in list)
    {
        if (t.ID == selected)
        {
            entity = t;
            break;
        }
    }
    if (entity != null)
    {
        var url = string.Empty;
        if (field == "interest")
        {
            url = Url.ListUrl(param.City, string.Empty, param.Star.ToString(), param.Price, param.Sort.ToString(), param.ScType);
        }
        else if (field == "price")
        {
            url = Url.ListUrl(param.City, param.Interest.ToString(), param.Star.ToString(), string.Empty, param.Sort.ToString(), param.ScType);
        }
        else if (field == "star")
        {
            url = Url.ListUrl(param.City, param.Interest.ToString(), string.Empty, param.Price, param.Sort.ToString(), param.ScType);
        }
    <a class="btn btn-sm btn-bq" href="@url">
        @entity.Name <span class="badge">&times;</span>
    </a>
    }
}
@helper BadgeButton(ListParam param, List<FilterItem> items, string field, string selected)
{
    if (String.IsNullOrEmpty(selected))
    {
        return;
    }
    FilterItem entity = null;
    foreach (FilterItem t in items)
    {
        if (t.Value == selected)
        {
            entity = t;
            break;
        }
    }
    if (entity != null)
    {
        var url = string.Empty;
        if (field == "interest")
        {
            url = Url.ListUrl(param.City, string.Empty, param.Star.ToString(), param.Price, param.Sort.ToString(), param.ScType);
        }
        else if (field == "price")
        {
            url = Url.ListUrl(param.City, param.Interest.ToString(), param.Star.ToString(), string.Empty, param.Sort.ToString(), param.ScType);
        }
        else if (field == "star")
        {
            url = Url.ListUrl(param.City, param.Interest.ToString(), string.Empty, param.Price, param.Sort.ToString(), param.ScType);
        }
    <a class="btn btn-sm btn-bq" href="@url">
        @entity.Name <span class="badge">&times;</span>
    </a>
    }
}
@section scripts
{
    @if (isMobile)
    {
        <script src="~/Content/js/framework/vue.min.js"></script>
        <script src="~/Content/js/framework/zmjd.swiper.min.js"></script>
        <script src="~/Content/js/framework/jquery.lazyload.min.js"></script>
        <script src="~/Content/js/common.js"></script>
        <script src="~/Content/js/iscroll-lite.js"></script>
        <script src="~/Content/js//framework/iscroll.js"></script>
        <script src="~/Content/js/framework/zmjd.picker.min.js"></script>
        <script src="~/Content/js/calendar_price.js?v=@(Helpers.curAppVer())"></script>
        @Helpers.CalendarOptions(Html, calendar.DayItems, calendar.DayLimitMin, calendar.DayLimitMax)

        if (isApp)
        {
        <script>
    try {
        try {
            onAppShareCall = function () {
                var title = '@(shareTitle)';
                var Content = '@(shareDesc)';
                var photoUrl = '@(shareImgUrl)'; 
                var shareLink = '@(shareLink)';
                try { whotel.appShareData(title, Content, photoUrl, shareLink); } catch (e) { }
                var returnStr = '{"title":"{0}","Content":"{1}","photoUrl":"{2}","shareLink":"{3}"}';
                return returnStr.format(title, Content, photoUrl, shareLink);
            }
        }
        catch (e) { }
        onAppShareCall();
    }
    catch (e) {
        alert(e);
    }
    onAppShareCall();
        </script>
        }

        if (isInWeixin)
        {
        <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js?v=@(Helpers.curAppVer())" type="text/javascript"></script>
        <script>
                var loadWechat = function (_shareTitle, _shareDesc, _shareLink, _shareImgUrl, _shareSucessFunc) {

                    GetWeixinApiConfig();//注册

                    wx.ready(function () {

                        wx.onMenuShareTimeline({
                            title: _shareTitle,
                            desc: _shareDesc,
                            link: _shareLink,
                            imgUrl: _shareImgUrl,
                            success: function (res) {
                                _shareSucessFunc(res)
                            },
                            cancel: function (res) {
                            }
                        });

                        wx.onMenuShareAppMessage({
                            title: _shareTitle,
                            desc: _shareDesc,
                            link: _shareLink,
                            imgUrl: _shareImgUrl,
                            success: function (res) {
                                _shareSucessFunc(res)
                            },
                            cancel: function (res) {
                            }
                        });

                        wx.onMenuShareQQ({
                            title: _shareTitle,
                            desc: _shareDesc,
                            link: _shareLink,
                            imgUrl: _shareImgUrl,
                            success: function (res) {
                                _shareSucessFunc(res)
                            },
                            cancel: function (res) {
                            }
                        });

                        wx.onMenuShareQZone({
                            title: _shareTitle,
                            desc: _shareDesc,
                            link: _shareLink,
                            imgUrl: _shareImgUrl,
                            success: function (res) {
                                _shareSucessFunc(res)
                            },
                            cancel: function (res) {
                            }
                        });

                    });

                    function GetWeixinApiConfig() {

                        var url = location.href.split("#")[0];
                        $.ajax({
                            url: '/Coupon/GetWeixinConfigInfo',
                            type: 'POST',
                            data: { url: url },
                            dataType: 'json',
                            async: false,
                            error: function () {
                                console.log("网络服务错误");
                            },
                            success: function (result) {
                                if (typeof (result.Success) != undefined && result.Success == 1) {
                                    return false;
                                }
                                else {
                                    //得到微信config的值
                                    var array = [
                                        'checkJsApi',
                                        'onMenuShareTimeline',
                                        'onMenuShareAppMessage',
                                        'onMenuShareQQ',
                                        'onMenuShareQZone',
                                        'hideOptionMenu'
                                    ];
                                    if (result.jsApiList) {
                                        var jsArray = result.jsApiList.split(',');
                                        for (var key in jsArray) {
                                            array.push("" + jsArray[key]);
                                        }
                                    }

                                    wx.config({
                                        debug: false,
                                        appId: result.appId,
                                        timestamp: "" + result.timestamp,
                                        nonceStr: result.nonceStr,
                                        signature: result.signature,
                                        jsApiList: array
                                    });
                                }
                            }
                        });
                    }
                }

                //loadWechat(shareTitle, shareDesc, shareImgUrl, encodeURI(shareLink), null);
        </script>
        }
        <script src="~/Content/js/hotel/list.js?v=@(Helpers.curAppVer())"></script>

    }
    else
    {
        @Scripts.Render("~/Content/js/srollpage.js", "~/Content/js/hotel/list.js")
    }
}