@using WHotelSite
@using WHotelSite.App_Code
@using WHotelSite.Params
@{
    Layout = null;

    var recmHotelResult = ViewBag.RecmHotelResult;
    RecommendPackageDetailResult packageEntity = ViewBag.PackageEntity;
    SameSerialPackageItem thisPackageRoomInfo = ViewBag.ThisPackageRoomInfo;
    
    var isApp = ViewBag.IsApp;
    var pid = ViewBag.Pid;
    var userid = ViewBag.UserId;
    var albumid = ViewBag.AlbumId;
    
    var AppType = ViewBag.AppType;
    var AppVerForIOS = ViewBag.AppVerForIOS;
    var AppVerForAndroid = ViewBag.AppVerForAndroid;
    var IsLatestVerApp = ViewBag.IsLatestVerApp;

    var pageTitle = "周末酒店";
}

<!DOCTYPE html>
<script type="text/javascript">

    function goto(param) {
        var isapp = $("#isapp").val() == "1";
        var url = "whotelapp://www.zmjiudian.com/" + param;
        if (!isapp) {
            url = "http://www.zmjiudian.com/" + param;
        }

        this.location = url;
    }

    function gourl(url) {
        location.href = url;
    }
    
    function loginCallback(userid) {
        location.replace(location.pathname + "?userid=" + userid);
    }

    var pub_userid = "@userid";
    var pub_isapp = "@(isApp ? "1" : "0")" == "1";
</script>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>@pageTitle</title>
    <link href="~/Content/css/framework/util.css?v=@(Helpers.curAppVer())" rel="stylesheet" />
    <link href="~/Content/css/login.css?v=@(Helpers.curAppVer())" rel="stylesheet" />
    <link href="~/Content/css/framework/zmjd.modal.min.css?v=@(Helpers.curAppVer())" rel="stylesheet" />
    <link href="/content/css/hotel/package.css?v=@(Helpers.curAppVer())" rel="stylesheet">
    <link href="/content/css/calendar_price.css?v=@(Helpers.curAppVer())" rel="stylesheet">
</head>
<body>
    <script>
        window.isMobile = @WHotelSite.Utils.JSONEncode(WHotelSite.Utils.IsMobile());
        window.contentUrl = @Html.Raw(WHotelSite.Utils.JSONEncode(Url.Content("~/Content")));
        window.httpsWebUrl = @Html.Raw(WHotelSite.Utils.JSONEncode(System.Configuration.ConfigurationManager.AppSettings["HttpsWebSiteUrl"]));
    </script>
    <script src="~/Content/js/jquery-1.10.2-min.js"></script>
    <script src="~/Content/js/framework/config.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/framework/zmjiudian.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/framework/zmjd.modal.min.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/VerifyInput.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/geetest/gt.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/login.js?v=@(Helpers.curAppVer())"></script>
    <script>
        $(function () {

            //初始mobile login
            var loginCheckFun = function () {
                reloadPage(true);//刷新当前页 F5，true从服务器端重启，false从浏览器缓存取，不适合页面method='post'，
            }

            var loginCancelFun = function () {
                return true;
            }

            _loginModular.init(loginCheckFun, loginCancelFun);

            //检测登录并自动登录
            if (!pub_isapp && pub_userid == "0") {
                _loginModular.verify.autoLogin(loginCheckFun);
            }

        });
    </script>
    <div id="package-content">@Html.Partial("PackageContent")</div>
</body>
</html>
