@using WHotelSite
@using WHotelSite.App_Code
@using WHotelSite.Params
@{
    var cssVersion = "190001010000";
    try
    {
        //var last = this.GetType().Assembly.Location;
        var last = System.Reflection.Assembly.GetExecutingAssembly().Location;
        var lastTime = System.IO.File.GetLastWriteTime(last);
        cssVersion = lastTime.ToString("yyyyMMddhhmm");
    }
    catch (Exception ex) { 
    }
    
    InspectorParam param = ViewBag.param;

    ViewBag.Title = string.Format("招募品鉴师");
    ViewBag.Keywords = string.Format("招募品鉴师");
    ViewBag.Description = string.Format("招募品鉴师");

    ViewBag.BodyStyle = "overflow-x:hidden;";

    var isApp = ViewBag.IsApp;
    var verIsOk = ViewBag.VersionIsOk;
    var apptype = ViewBag.AppType;
}
@section styles
{
    <style>
        html, body {
            height: 100%;
            margin: 0;
            background:#f0f0f0;
        }

        .modal-content {
            width: 90%;
            margin: auto;
        }

        .modal-body {
            padding: 2.6em 0.8em 1.7em 0.8em;
        }

        .modal-footer {
            margin-top: 0;
            padding: 0.7em 0.9em;
        }

        .btn-default, .btn-primary {
            width: auto;
            min-width: 4em;
            border: none;
            color: #3e9ec0;
            font-size: 1.4em;
        }

        .btn-default0 {
            color: #333;
        }

        .box-big-btn {
            width: 96%;
        }

        .box-btn-bottomborder {
            padding-bottom: 0.7em;
            margin-bottom: 0.3em;
            border-bottom: 1px solid #eeeded;
            border-radius: 0;
        }
    </style>
}
<script>
    function goto(param) {
        var url = "@(ViewBag.AccessProtocal)" + param;
        this.location = url;
    }

    function gotopage(param) {
        var url = "@(ViewBag.AccessProtocalPage)" + param;
        this.location = url;
    }
    function gourl(url) {
        location.href = url;
    }
    function loginCallback(userid) {
        goWriteComment(userid);
    }
</script>
<div class="recins-body">
    <div class="recins-top">
        <div class="top-tit">
            <img src="~/Content/images/inspector/Concise/ins-huodong2.jpg" />
        </div>
    </div>
    <div class="recins-link">
        <a href="/inspector/hotellist?userid=@param.UserId">查看Top50亲子酒店名单</a>
    </div>
    <div class="recins-btn-panel">
        <button class="recins-writecom-btn" data-userid="@param.UserId" data-isapp="@isApp">写点评</button>
    </div>
    <div class="recins-panel2">
        <div>
            参与方式：<br />
            1、提交1-3篇入住过的海内外酒店点评及照片<br />
            2、我们会从提交点评的用户中按点评质量挑选100名用户，成为品鉴师，免费入住Top50家亲子酒店中的任意一家<br /><br />
        </div>
    </div>
    <div class="recins-panel3">
        <div>
            活动注意事项：<br />
            1、活动报名和提交点评从即日起至 10/22 结束<br />
            2、点评提交越多，内容越生动，图片越丰富，越有机会被选中成为品鉴师<br />
            3、名单上每家酒店的入住时间会有所限制，具体点击“申请品鉴”查询<br />
            4、由于每家酒店的品鉴名额有限，我们会按先预约先得的原则分配<br />
            5、免费品鉴酒店时，必须是本人入住，不可转让给他人<br />
            6、活动细节的解释权归主办方上海尚旅网络科技有限公司所有
        </div>
    </div>
</div>
<input type="hidden" id="isapptxt" value="@(isApp ? "1" : "0")" />
<input type="hidden" id="verIsOk" value="@(verIsOk ? "1" : "0")" />
<input type="hidden" id="apptype" value="@(apptype)" />
<input type="hidden" id="useridtxt" value="@(param.UserId)" />
@section scripts
{
    @Scripts.Render("~/Content/js/bootbox.js?v=" + cssVersion, "~/Content/js/inspector/inspector.js?v=" + cssVersion, "~/Content/js/inspector/register.js?v=" + cssVersion)
}
