@using WHotelSite
@using WHotelSite.App_Code
@using WHotelSite.Params.Hotel
@using HJD.CommentService.Contract
@model CommentInfoModel3
@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";

    ViewBag.Title = "邀朋友成为VIP 联票免费送";

    var isApp = ViewBag.IsApp;
    var isInWeixin = ViewBag.isInWeixin;
    var userid = ViewBag.UserId;
    var sid = ViewBag.SID;
    
    //分享者信息
    var shareUserInfo = ViewBag.ShareUserInfo;
    if (string.IsNullOrEmpty(shareUserInfo.NickName))
    {
        shareUserInfo.NickName = "";
    }
    
    //原生分享配置
    var s_title = string.Format("你的朋友{0}邀你成为周末酒店VIP会员", shareUserInfo.NickName);
    var s_content = "价值万元专享福利优惠等你拿！";
    var s_poto_url = "http://whphoto.b0.upaiyun.com/117aPDL0_290x290s";
    var s_url = string.Format("http://www.zmjiudian.com/Coupon/VipAreaInfo?CID={0}", userid);

    //原生分享链接
    var _shareLink = "whfriend://comment?title={0}&photoUrl={1}&shareLink={2}&nextUrl={3}&content={4}&shareType={5}";
    _shareLink = string.Format(_shareLink, HttpUtility.UrlEncode(s_title), HttpUtility.UrlEncode(s_poto_url), HttpUtility.UrlEncode(s_url), "", HttpUtility.UrlEncode(s_content), "{0}");
    var appShareLink = string.Format(_shareLink, 0);
    
    ViewBag.UseMuiCss = false;
    ViewBag.UseMuiJs = false;
}

@section styles 
{
    <link href="~/Content/css/framework/zmjd.swiper.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/active/vipactiveforgift.css?v=" + (Helpers.curAppVer()))
    <link href="~/Content/css/login.css?v=@(Helpers.curAppVer())" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none;
        }

        .login-section {
            font-size: 0.8em;
        }
    </style>
}

<div class="main-panel">
    <section class="section-img">
        <img src="http://whfront.b0.upaiyun.com/www/img/Active/vipactive/lianpiao-top-1.png?v=2017091901" alt="" />
        <img class="share-btn" src="http://whfront.b0.upaiyun.com/www/img/Active/vipactive/lianpiao-btn-1.png?v=2017091901" alt="" />
        <img src="http://whfront.b0.upaiyun.com/www/img/Active/vipactive/lianpiao-top-2.png?v=2017091901" alt="" />
        <img src="http://whfront.b0.upaiyun.com/www/img/Active/vipactive/lianpiao-bottom-1.png?v=2017091901" alt="" />
    </section>
</div>

@*<div class="main-panel">
    <section class="section-img">
        <img src="http://whfront.b0.upaiyun.com/www/img/Active/vipactive/legao-top-1.png?v=2017062701" alt="" />
        <img src="http://whfront.b0.upaiyun.com/www/img/Active/vipactive/legao-top-2.png?v=2017062701" alt="" />
        <img class="share-btn" src="http://whfront.b0.upaiyun.com/www/img/Active/vipactive/legao-btn-1.png?v=2017062701" alt="" />
        <img src="http://whfront.b0.upaiyun.com/www/img/Active/vipactive/legao-bottom-1.png?v=2017062701" alt="" />
        <img src="http://whfront.b0.upaiyun.com/www/img/Active/vipactive/legao-bottom-2.png?v=2017062701" alt="" />
        <img src="http://whfront.b0.upaiyun.com/www/img/Active/vipactive/legao-bottom-3.png?v=2017062701" alt="" />
    </section>
</div>*@

<div class="genvip-share-tip" style="display:none;">
    <img data-orisrc="http://whfront.b0.upaiyun.com/www/img/Active/vipactive/genvip-share-tip.png?v=2017062701" src="" alt="点击右上角分享哦" />
</div>

@*<div style="margin:2em 0 0 0;"><a href="whotelapp://www.zmjiudian.com/gotopage?url=http%3a%2f%2f192.168.1.22%3a8081%2fActive%2fVipActiveForGift%3fuserid%3d%7buserid%7d">GO APP (Local) >>></a></div>
<div class="_waring well-hide"></div>*@

<footer>
    <input type="hidden" id="isapp" value="@(isApp ? 1 : 0)" />
    <input type="hidden" id="isInWeixin" value="@(isInWeixin ? 1 : 0)" />
    <input type="hidden" id="userId" value="@(userid)" />
    <input type="hidden" id="appShareLink" value="@appShareLink" />
</footer>

@section scripts
{
    <script>
        window.isMobile = @WHotelSite.Utils.JSONEncode(WHotelSite.Utils.IsMobile());
        window.contentUrl = @Html.Raw(WHotelSite.Utils.JSONEncode(Url.Content("~/Content")));
        window.httpsWebUrl = @Html.Raw(WHotelSite.Utils.JSONEncode(System.Configuration.ConfigurationManager.AppSettings["HttpsWebSiteUrl"]));
    </script>
    <script src="~/Content/js/framework/vue.min.js"></script>
    <script src="~/Content/js/framework/config.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/framework/zmjiudian.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/VerifyInput.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/login.js?v=@(Helpers.curAppVer())"></script>
    <script src="~/Content/js/active/vipactiveforgift.js?v=@(Helpers.curAppVer())"></script>

    @if (isInWeixin)
    {
        <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript"></script>
        <script>

        GetWeixinApiConfig();//注册

        wx.ready(function () {

            wx.onMenuShareTimeline({
                title: '@s_title',
                desc: '@(s_content)',
                link: '@(s_url)',
                imgUrl: '@(s_poto_url)',
                    success: function (res) {
                    },
                    cancel: function (res) {
                    }
                });

                wx.onMenuShareAppMessage({
                    title: '@s_title',
                    desc: '@(s_content)',
                    link: '@(s_url)',
                    imgUrl: '@(s_poto_url)',
                    success: function (res) {
                    },
                    cancel: function (res) {
                    }
                });

        });

        function GetWeixinApiConfig() {

            var url = location.href.split("#")[0];
            $.ajax({
                url: '/Coupon/GetWeixinConfigInfo',
                type: 'POST',
                data: { url: url },
                dataType: 'json',
                async: false,
                error: function () {
                    console.log("网络服务错误");
                },
                success: function (result) {
                    if (typeof (result.Success) != undefined && result.Success == 1) {
                        return false;
                    }
                    else {
                        //得到微信config的值
                        var array = [
                            'checkJsApi',
                            'onMenuShareTimeline',
                            'onMenuShareAppMessage',
                            'onMenuShareQQ',
                            'onMenuShareQZone',
                            'hideOptionMenu'
                        ];
                        if (result.jsApiList) {
                            var jsArray = result.jsApiList.split(',');
                            for (var key in jsArray) {
                                array.push("" + jsArray[key]);
                            }
                        }

                        wx.config({
                            debug: false,
                            appId: result.appId,
                            timestamp: "" + result.timestamp,
                            nonceStr: result.nonceStr,
                            signature: result.signature,
                            jsApiList: array
                        });
                    }
                }
            });
        }

        </script>
    }
}