@model WHotelSite.Models.MagiCallClientViewModel
@{
    ViewBag.Title = "MagiCall";
    Layout = "~/Views/Shared/_Layout0.cshtml";
}
<link href='/webim/static/css/im.css?v=2.6' rel='stylesheet' />
<link href='/webim/static/css/whim.css?v=2.6' rel='stylesheet' />

<div id='EasemobKefuWebim'></div>
<script>
    var userHeadPhoto = "@Model.userHeadPhoto";
    var kefuHeadPhoto = "@Model.kefuHeadPhoto";
    var userID = @Model.userID;
    var welcomeMsg = "@(Model.Greeting)" ;

</script>


<script>
    window.easemobim = window.easemobim || {};

    easemobim.config = {
        tenantId: '10249', 									//租户id
        to: 'kevincai', 											//指定关联对应的im号
        appKey: 'zmjiudian#zmjd100', 										//关联的appkey,				appKey: 'orgName#appName'
        domain: '//kefu.easemob.com', 										//环信移动客服域,			domain: '//kefu.easemob.com',
        path: '//www.dev.jiudian.corp/webim', 										//im.html的本机服务器路径,	path: '//XXX'
        staticPath: '//www.dev.jiudian.corp/webim/static', 									//访客插件static的路径,		staticPath: '//XXX/static'
        xmppServer: '',										//环信IM服务器,				xmppServer: 'im-api.easemob.com'
        restServer: '',										//环信REST服务器,			restServer: 'a1.easemob.com'
        agentName: '',										//指定坐席
        ticket: true,										//是否展示留言入口
        hideStatus: false,									//是否显示转接中，正在排队等提示
        /*
         * 可集成自己的用户，如不集成，则使用上面配置的appkey创建随机访客
         * 如果上面没有配置appkey，那么将使用配置的tenantId获取体验关联，使用体验关联的相关信息
         * 验证的方式二选一，必填，另一项为空即可
         */
        user : {
            //可集成自己的用户，如不集成，则使用当前的appkey创建随机访客
            name: '@(Model.userName)',//集成时必填
            // name: 'zmjdappuser4740395',
            password: '@(Model.userPassword)',//authMode设置为password时必填,与token二选一
            // password: 'Hadoop',
            token: ''//authMode设置为token时必填,与password二选一
        },
        visitor:{
            trueName: 'Alex Sun',
            QQ: '971581039', //suo
            phone: '15618929223',//
            userNickname: '四海',//
            description: '中高端度假，高尔夫，海滩',
            email: 'asun@zmjiudian.com'
        },

        /*extMsg: {                                           //移动端点击联系客服按钮自动发送订单消息demo
            "imageName": "mallImage3.png",
            "type": "custom",
            "msgtype": {
                "order": {
                    "img_url": "h\n.pn",
                    "title": "mmm",
                    "desc": "mmm端午节粽子四",
                    "order_title":"mmm订单号：123456789012345678901234567890",
                    "price": "",
                    "item_url": "http://www.baidu.com?s=order_sn/123123"
                }
            }
        },*/
        autoConnect: false,									//自动连接
        buttonText: '联系客服',								//设置小按钮的文案
        hide: false,											//是否隐藏小的悬浮按钮
        resources: false,									//是否启用收消息同步
        dragenable: true,									//是否允许拖拽, H5不支持
        hideKeyboard: false,								//是否隐藏H5右上角的键盘图标
        dialogWidth: '400px',								//聊天窗口宽度, H5不支持
        dialogHeight: '500px',								//聊天窗口高度, H5不支持
        minimum: true,										//是否允许窗口最小化, H5不支持
        satisfaction: true,									//是否允许访客主动发起满意度评价
        soundReminder: true,								//是否启用声音提醒(低版本浏览器和H5不支持)
        dialogPosition: { x: '10px', y: '10px' },			//聊天窗口初始位置，坐标以视口右边距和下边距为基准, H5不支持
        onmessage: function ( message ) { },				//收消息回调, 只对当前打开的聊天窗口有效
        onready: function () {
            //PC端点击联系客服按钮自动发送订单消息demo
            /*easemobim.sendExt({ext: {
                "imageName": "mallImage3.png",
                "type": "custom",
                "msgtype": {
                    "order": {
                        "img_url": "h\n.pn",
                        "title": "pc",
                        "desc": "pc端午节粽子四",
                        "order_title":"pc订单号：123456789012345678901234567890",
                        "price": "",
                        "item_url": "http://www.baidu.com?s=order_sn/123123"
                    }
                }
            }});*/
        },							//聊天窗口加载成功回调
        onsessionclosed: function () { },					//会话结束回调


        agentName : '@(Model.DesignatedCustomerCare)'

    };
</script>
<script src='//kefu.easemob.com/webim/easemob.js'></script> 
