@model RecommendHotelResult
@{
    Layout = null;

    var cssVersion = "190001010000";
    try
    {
        var last = System.Reflection.Assembly.GetExecutingAssembly().Location;
        var lastTime = System.IO.File.GetLastWriteTime(last);
        cssVersion = lastTime.ToString("yyyyMMddhhmm");
    }
    catch (Exception ex) { }
    
    var isApp = ViewBag.IsApp;
    var userid = ViewBag.UserId;
    var appType = ViewBag.AppType;

    var listMax = 5;
    var listCount = Model.HotelList.Count >= listMax ? listMax : Model.HotelList.Count;
}

@if (Model != null && Model.HotelList != null && Model.HotelList.Count > 0)
{
    <div class="home-tit home-tit-big-height home-hide">
        @*<div class="center">－ 朋友推荐的酒店 －</div>*@
        <div class="left">朋友推荐的酒店</div>
        <div class="right">
            @if (Model.HotelTotalCount > listMax)
            {
                <div class="more-link zmjd-iconfont" onclick="gourl('/App/MorePackageList?userid=@(userid)&albumId=0&t=4&_newpage=1')">更多&#xe601;</div>
            }
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="home-multiple home-hide" id="home-middle-banner2">
        <div id="friendrec-banner" class="am-slider am-slider-default am-slider-carousel home-hlist-panel seat-banner" style="margin:0 0 0 0;">
            <ul class="am-slides" style="border:none;">
                @for (int i = 0; i < listCount; i++)
                {
                    var item = Model.HotelList[i];

                    if (string.IsNullOrEmpty(item.HotelPicUrl))
                    {
                        item.HotelPicUrl = "http://whfront.b0.upaiyun.com/app/img/home/home-load2-16x9.png";
                    }
                    
                    <li onclick="goto('hotel/@(item.HotelID)')">
                        <div class="h-img">
                            @if (i < 2)
                            {
                                <img src="@item.HotelPicUrl" alt="" />
                            }
                            else
                            {
                                <img data-orisrc="@item.HotelPicUrl" src="http://whfront.b0.upaiyun.com/app/img/home/home-load2-16x9.png" alt="" />
                            }
                            <div class="h-tit-tip-price"><span class="p-un">￥</span>@item.HotelPrice</div>
                            <div class="h-user-img"><img src="@item.AvatarUrl" alt="" /></div>
                        </div>
                        <div class="hname-info">
                            <div class="hotel-name">@item.HotelName</div>
                            <div class="hotel-packagebrief">@item.PackageBrief</div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="home-multiple-border2"></div>
    <input type="hidden" id="recentSee-count" value="@Model.HotelList.Count" />
    <script>
        $(".home-tit").show();
        $(".home-multiple").show();
    </script>
    <script>
        var hCount = parseInt($("#recentSee-count").val());
        var onlyOneCount = hCount == 1;
        var wwidth = $(window).width();
        var itemWidth = 363; if (wwidth < 410) itemWidth = 333; if (wwidth == 360) itemWidth = 320; if (wwidth < 350) itemWidth = 285;
        if (onlyOneCount) {
            itemWidth = wwidth;
        }

        //朋友推荐的酒店
        var friendrecImgSwIndex = 2;
        $('#friendrec-banner').flexslider({
            itemWidth: itemWidth,
            itemMargin: 6,
            slideshow: false,
            animationLoop: false,
            animationSpeed: 300,
            pauseOnAction: true,
            controlNav: false,
            directionNav: false,
            after: function (slider) {
                if (friendrecImgSwIndex < slider.slides.length) {
                    var li = $(slider.slides[friendrecImgSwIndex]);
                    var imgObj = li.find("img");
                    if (imgObj.length > 1) {
                        setImgOriSrc($(imgObj[0]));
                    }
                    else {
                        setImgOriSrc(imgObj);
                    }
                    friendrecImgSwIndex++;
                }
            }
        });
    </script>
}