@model HomePageData30
@{
    Layout = null;

    var isApp = ViewBag.IsApp;
    var userid = ViewBag.UserId;
}
@if (Model != null && Model.FlashDeals.Count > 0)
{
    <ul>
        @for (int i = 0; i < Model.FlashDeals.Count; i++)
        {
            var hotelEntity = Model.FlashDeals[i];

            if (string.IsNullOrEmpty(hotelEntity.hotelPicUrl))
            {
                hotelEntity.hotelPicUrl = "http://whfront.b0.upaiyun.com/app/img/home/home-load2-3x2.png";
            }
            
            var nowTimeObj = DateTime.Now;
            var endTimeObj = hotelEntity.startSellTime;
            var closeTimeObj = hotelEntity.endSellTime;

            <li class="li-line" onclick="gotopage('coupon/shop/@(hotelEntity.activityId)?_dorpdown=1')">
                <div class="h-img">
                    <img @(i == 0 ? string.Format(" src={0} ", hotelEntity.hotelPicUrl) : string.Format(" data-original={0} data-lazyload-id={1} ", hotelEntity.hotelPicUrl, i)) alt="">
                    <div class="h-tit-tip-mode"></div>
                    <div class="h-tit-tip-txt" style="left: 0.7em;top: 0.4em;">
                        <span class="state timer-tag"
                                data-year0="@nowTimeObj.Year"
                                data-month0="@(nowTimeObj.Month-1)"
                                data-day0="@nowTimeObj.Day"
                                data-hour0="@nowTimeObj.Hour"
                                data-minute0="@nowTimeObj.Minute"
                                data-second0="@nowTimeObj.Second"
                                data-year1="@endTimeObj.Year"
                                data-month1="@(endTimeObj.Month-1)"
                                data-day1="@endTimeObj.Day"
                                data-hour1="@endTimeObj.Hour"
                                data-minute1="@endTimeObj.Minute"
                                data-second1="@endTimeObj.Second"
                                data-year2="@closeTimeObj.Year"
                                data-month2="@(closeTimeObj.Month - 1)"
                                data-day2="@closeTimeObj.Day"
                                data-hour2="@closeTimeObj.Hour"
                                data-minute2="@closeTimeObj.Minute"
                                data-second2="@closeTimeObj.Second"></span>
                    </div>
                    <div class="h-tit-tip-price"><span class="p-un">￥</span>@hotelEntity.activityPrice</div>
                </div>
                <div class="hname-info">
                    <div class="hotel-name2">@hotelEntity.hotelName</div>
                    <div class="hotel-packagebrief2">@hotelEntity.packageBrief</div>
                </div>
            </li>
        }
    </ul>
    <script>
        var timerTags = $(".timer-tag");
        var timeDic = [];
        if (timerTags) {
            for (var i = 0; i < timerTags.length; i++) {

                timeDic[i] = {
                    timerEntity: null,
                    nowTime: null,
                    endDate: null,
                    closeDate: null,
                    endTimerState: true,
                    closeTimerState: false,
                    initNowtime: function () {
                        this.nowTime = new Date(
                        parseInt(this.timerEntity.data("year0"))
                        , parseInt(this.timerEntity.data("month0"))
                        , parseInt(this.timerEntity.data("day0"))
                        , parseInt(this.timerEntity.data("hour0"))
                        , parseInt(this.timerEntity.data("minute0"))
                        , parseInt(this.timerEntity.data("second0"))
                            ).getTime();
                    },
                    initEndtime: function () {
                        this.endDate = new Date(
                        parseInt(this.timerEntity.data("year1"))
                        , parseInt(this.timerEntity.data("month1"))
                        , parseInt(this.timerEntity.data("day1"))
                        , parseInt(this.timerEntity.data("hour1"))
                        , parseInt(this.timerEntity.data("minute1"))
                        , parseInt(this.timerEntity.data("second1"))
                            ).getTime();
                    },
                    initClosetime: function () {
                        this.closeDate = new Date(
                        parseInt(this.timerEntity.data("year2"))
                        , parseInt(this.timerEntity.data("month2"))
                        , parseInt(this.timerEntity.data("day2"))
                        , parseInt(this.timerEntity.data("hour2"))
                        , parseInt(this.timerEntity.data("minute2"))
                        , parseInt(this.timerEntity.data("second2"))
                            ).getTime();
                    },
                    init: function () {
                        this.initNowtime();
                        this.initEndtime();
                        this.initClosetime();
                    },
                    timerAction: function () {
                        if (this.endTimerState) {
                            var t = this.endDate - this.nowTime;
                            var d = Math.floor(t / (1000 * 60 * 60 * 24));
                            var h = Math.floor(t / 1000 / 60 / 60 % 24) + (d * 24);
                            var m = Math.floor(t / 1000 / 60 % 60);
                            var s = Math.floor(t / 1000 % 60);

                            var timehtml = h <= 0
                                ? "距离开抢还有 00:" + (m < 10 ? "0" + m : m) + ":" + (s < 10 ? "0" + s : s)
                                : "距离开抢还有" + (h < 10 ? "0" + h : h) + ":" + (m < 10 ? "0" + m : m) + ":" + (s < 10 ? "0" + s : s);

                            this.timerEntity.html(timehtml);
                            //$("#timer-tag-0").html(timehtml);

                            try {

                                if (d < 0 || (d <= 0 && h <= 0 && m <= 0 && s <= 0)) {
                                    this.stopEndAction();
                                }

                            } catch (e) { }

                            this.nowTime = this.nowTime + 1000;
                        }
                    },
                    timerCloseAction: function () {
                        if (this.closeTimerState) {
                            var t = this.closeDate - this.nowTime;
                            var d = Math.floor(t / (1000 * 60 * 60 * 24));
                            var h = Math.floor(t / 1000 / 60 / 60 % 24);// + (d * 24);
                            var m = Math.floor(t / 1000 / 60 % 60);
                            var s = Math.floor(t / 1000 % 60);

                            var timehtml = d <= 0 ?
                                (h <= 0 ? "还有" + (m < 10 ? "0" + m : m) + "分钟闪购结束"
                                : "还有" + (h < 10 ? "0" + h : h) + "小时" + (m < 10 ? "0" + m : m) + "分钟闪购结束")
                                : "还有" + (d < 10 ? "0" + d : d) + "天" + (h < 10 ? "0" + h : h) + "小时" + (m < 10 ? "0" + m : m) + "分钟闪购结束";

                            this.timerEntity.html(timehtml);
                            //$("#timer-tag-0").html(timehtml);

                            try {

                                if (d < 0 || (d <= 0 && h <= 0 && m <= 0 && s <= 0)) {
                                    this.stopCloseAction();
                                }

                            } catch (e) { }

                            this.nowTime = this.nowTime + 1000;
                        }
                    },
                    stopEndAction: function () {
                        this.endTimerState = false;
                        this.closeTimerState = true;
                        this.timerEntity.html("进行中");
                    },
                    stopCloseAction: function () {
                        this.closeTimerState = false;
                        this.timerEntity.html("已结束");
                    }
                };

                //build
                timeDic[i].timerEntity = $(timerTags[i]);

                //init
                timeDic[i].init();

                //start
                timeDic[i].timerAction();
                setInterval("gotime(timeDic[" + i + "])", 1000);
            }
        }

        function gotime(timeObj) {
            timeObj.timerAction();
            timeObj.timerCloseAction();
        }
    </script>
}